@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa; }

img {
  max-width: 100%; }

label {
  display: block; }

.header {
  padding: 1em 0;
  background-color: #fafafa;
  box-shadow: 1px 0 2px 2px rgba(51, 51, 51, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 550; }
  .header__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .header__container {
        width: 85%; } }
    @media screen and (min-width: 1024px) {
      .header__container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media screen and (min-width: 1200px) {
      .header__container {
        width: 1110px; } }
  .header__icons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo-container {
    width: 12em; }
  .header__logo-type-top {
    fill: #C25646; }
  .header__logo-type-bottom {
    fill: #333333; }
  .header__icon-bar {
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: #333333;
    position: relative; }
    .header__icon-bar:before {
      content: " ";
      display: block;
      width: 45px;
      height: 2px;
      background-color: #333333;
      position: absolute;
      top: -.8em;
      left: 0;
      transition: all 150ms ease-in; }
    .header__icon-bar:after {
      content: " ";
      display: block;
      width: 45px;
      height: 2px;
      background-color: #333333;
      position: absolute;
      bottom: -.8em;
      left: 0;
      transition: all 150ms ease-in; }
  .header__icon-menu {
    width: 45px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 650; }
    .header__icon-menu:hover .header__icon-bar:before {
      width: 30px;
      left: .5em; }
    .header__icon-menu:hover .header__icon-bar:after {
      width: 30px;
      left: .5em; }
    @media screen and (min-width: 1024px) {
      .header__icon-menu {
        display: none; } }

.main-nav {
  background-color: #fafafa; }
  @media screen and (max-width: 1023px) {
    .main-nav {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 600;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      transition: all 350ms ease-in; }
      .main-nav.show-menu {
        left: 0; } }
  .main-nav__list {
    margin: 0;
    padding-left: 0;
    list-style: none; }
    @media screen and (max-width: 1023px) {
      .main-nav__list {
        width: 90%; } }
  @media screen and (min-width: 1024px) {
    .main-nav__item {
      display: inline-block;
      margin-left: 2em; } }
  .main-nav__icon {
    width: 2em;
    margin-right: 1em;
    position: relative;
    top: .3em; }
    @media screen and (min-width: 1024px) {
      .main-nav__icon {
        display: none; } }
  .main-nav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 4.5;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    transition: all 250ms ease-in; }
    @media screen and (max-width: 1023px) {
      .main-nav__link:hover {
        background-color: rgba(51, 51, 51, 0.1); } }
    @media screen and (min-width: 1024px) {
      .main-nav__link {
        border-bottom: none;
        font-size: .9em;
        font-weight: 400; }
        .main-nav__link:hover {
          background-color: transparent;
          color: #C25646; } }
  @media screen and (min-width: 1024px) {
    .main-nav__link-book {
      background-color: #C25646;
      line-height: 2.5;
      padding: 0 1.3em;
      border-radius: 3em;
      color: #fff;
      font-weight: 600; }
      .main-nav__link-book:hover {
        background-color: #c86859;
        color: #fff; } }

.button__colorful,
.button__outline,
.button__line {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 3.5;
  text-align: center; }

.button__colorful {
  background-color: #C25646;
  border-radius: 5em;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  transition: all 250ms ease-in; }
  .button__colorful:hover {
    background-color: #c66152;
    transform: scale(0.98); }

.button__line {
  font-size: 1.3em;
  font-weight: 300;
  color: #333333;
  position: relative;
  z-index: 500;
  display: inline-block; }
  .button__line:after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #adc3b4;
    position: absolute;
    bottom: 1.1em;
    left: 0;
    z-index: -1;
    transition: all 150ms ease-in; }
  .button__line:hover:after {
    height: .8em; }

.button__outline {
  display: inline-block;
  line-height: 2.5;
  padding: 0 2em;
  font-size: 1.2em;
  font-weight: 300;
  color: #C25646;
  border: 1px solid #333333;
  border-radius: 3em;
  transition: all 250ms ease-in; }
  .button__outline:hover {
    border: 1px solid #C25646;
    background-color: #C25646;
    color: #fff; }

.book {
  background-color: #fafafa;
  padding-bottom: 2em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 650;
  width: 100%;
  overflow: auto;
  transform: translateY(-110%);
  opacity: 0;
  transition: all 450ms ease-in; }
  .book.open-modal {
    transform: translateY(0);
    opacity: 1; }
  .book.open-modal-nav {
    transform: translateY(0);
    opacity: 1; }
  .book__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .book__container {
        width: 85%; } }
    @media screen and (min-width: 1024px) {
      .book__container {
        width: 700px; } }
  .book__header {
    text-align: center;
    position: relative;
    padding: 1em 0;
    margin-bottom: 1em; }
  .book__header-title {
    font-weight: 600;
    font-size: 1.5em; }
  .book__header-icon {
    width: 2em;
    fill: #333333;
    position: absolute;
    right: 0;
    top: 2.2em;
    cursor: pointer; }
  .book__button {
    width: 50%;
    margin: 0 auto; }
  .book__form-container {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 8px;
    padding: 2em; }
  .book__form {
    position: relative; }
  .book__input-container {
    margin-bottom: 1.3em; }
  .book__form-label {
    color: #333333;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: .6em; }
  .book__form-input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    line-height: 2.5;
    padding-left: 1em;
    width: 100%; }
    .book__form-input:focus {
      outline: none; }
    .book__form-input::-webkit-input-placeholder {
      color: rgba(51, 51, 51, 0.3); }
    .book__form-input:-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.3); }
    .book__form-input::placeholder {
      color: rgba(51, 51, 51, 0.3); }
  .book__form-input-number {
    width: 50%; }
  .book__button-container {
    padding: 1em 0; }
  .book__calendar-one, .book__calendar-two {
    background-color: #fafafa;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding: 1em;
    position: absolute;
    width: 300px;
    animation: slideCalendar 600ms ease-in .2s 1 normal;
    animation-play-state: pause;
    display: none; }
    .book__calendar-one.calendar-play, .book__calendar-two.calendar-play {
      animation-play-state: play;
      display: initial; }
  .book__calendar-one {
    top: 14.3em;
    left: 2em;
    display: none; }
    @media screen and (min-width: 1024px) {
      .book__calendar-one {
        left: 11em; } }
  .book__calendar-two {
    top: 20.4em;
    left: 2em; }
    @media screen and (min-width: 1024px) {
      .book__calendar-two {
        left: 11em; } }
  .book__calendar-month-container {
    text-align: center;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    margin-bottom: .5em; }
  .book__calendar-month, .book__calendar-month-year {
    color: #333333;
    font-weight: 700;
    margin: 0 0 .5em; }
  .book__calendar-month-year {
    font-weight: 400; }
  .book__calendar-week-container {
    margin-bottom: .5em; }
  .book__calendar-week-container, .book__calendar-days-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .book__calendar-day-week {
    font-weight: 600; }
  .book__calendar-day-week, .book__calendar-day {
    color: rgba(51, 51, 51, 0.5);
    width: 2em;
    height: 2em; }
  .book__calendar-day {
    margin-bottom: .2em;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    .book__calendar-day:hover {
      background-color: #C25646;
      color: #fff; }
  .book__calendar-day-style {
    font-weight: 300; }

@keyframes slideCalendar {
  0% {
    opacity: 0;
    transform: translateY(0); }
  50% {
    opacity: .5;
    transform: translateY(2em); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.landing {
  margin-top: 5.3em;
  padding: 3em 0;
  background: url(../images/landing-small.jpg) 50% 50%/cover no-repeat; }
  @media screen and (min-width: 480px) {
    .landing {
      padding: 6em 0; } }
  @media screen and (min-width: 640px) {
    .landing {
      background: url(../images/landing-big.jpg) 50% 50%/cover no-repeat; } }
  .landing__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .landing__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .landing__container {
        width: 1110px; } }
  .landing__copy-content {
    padding: 2.5em 0;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .landing__copy-content {
        width: 80%;
        margin: 0 auto; } }
  .landing__title {
    text-transform: uppercase;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 3em;
    margin-top: 0;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0.5px 1.5px 2px rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 1200px) {
      .landing__title {
        font-size: 3.3em; } }
  .landing__title-style {
    font-size: 3.5em; }
  @media screen and (max-width: 1023px) {
    .landing__book-container {
      display: none; } }
  @media screen and (min-width: 640px) {
    .landing__button {
      width: 50%;
      margin: 0 auto; } }
  @media screen and (min-width: 1024px) {
    .landing__button {
      display: none; } }
  .landing__book-container {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.15);
    padding: 1em;
    position: relative; }
    @media screen and (min-width: 1200px) {
      .landing__book-container {
        width: 870px;
        margin: 0 auto; } }
  .landing__book-options {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .landing__book-opt {
    border-right: 1px solid rgba(51, 51, 51, 0.15); }
  .landing__book-opt-btn {
    border-right: none; }
  .landing__form-label {
    margin-bottom: .5em;
    font-size: .9em;
    font-weight: 600;
    color: #333333; }
  .landing__form-input {
    border: none;
    line-height: 1.5;
    color: rgba(51, 51, 51, 0.6); }
    .landing__form-input:focus {
      outline: none; }
    .landing__form-input::-webkit-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .landing__form-input:-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .landing__form-input::placeholder {
      color: rgba(51, 51, 51, 0.6); }
  .landing__book-button {
    line-height: 3;
    display: inline-block;
    font-size: .9em;
    padding: 0 1em; }
    .landing__book-button:hover {
      transform: none; }
  .landing__calendar-one, .landing__calendar-two, .landing__people-container {
    background-color: #fafafa;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding: 1em .5em;
    position: absolute;
    width: 230px;
    animation: slideCalendar 600ms ease-in .2s 1 normal;
    animation-play-state: pause;
    display: none; }
    .landing__calendar-one.calendar-play-animation, .landing__calendar-two.calendar-play-animation, .landing__people-container.calendar-play-animation {
      animation-play-state: play;
      display: initial; }
  .landing__calendar-one {
    position: absolute;
    top: 5.1em;
    left: 0;
    z-index: 300; }
  .landing__calendar-two {
    position: absolute;
    top: 5.1em;
    left: 14.3em;
    z-index: 300; }
  .landing__calendar-month-container {
    text-align: center;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    margin-bottom: .5em; }
  .landing__calendar-month, .landing__calendar-month-year {
    color: #333333;
    font-size: .9em;
    font-weight: 700;
    margin: 0 0 .5em; }
  .landing__calendar-month-year {
    font-weight: 400; }
  .landing__calendar-week-container {
    margin-bottom: .5em; }
  .landing__calendar-week-container, .landing__calendar-days-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .landing__calendar-day-week {
    font-weight: 600;
    font-size: .9em; }
  .landing__calendar-day-week, .landing__calendar-day {
    color: rgba(51, 51, 51, 0.5);
    width: 1.5em;
    height: 1.5em; }
  .landing__calendar-day {
    margin-bottom: .2em;
    font-size: .9em;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    .landing__calendar-day:hover {
      background-color: #C25646;
      color: #fff; }
  .landing__calendar-day-style {
    font-weight: 300; }

@keyframes slideCalendar {
  0% {
    opacity: 0;
    transform: translateY(0); }
  50% {
    opacity: .5;
    transform: translateY(2em); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
  .landing__people-container {
    position: absolute;
    top: 5.1em;
    left: 28.6em;
    z-index: 300; }
  .landing__people-input-container {
    margin-bottom: 1em; }
  .landing__people-input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    line-height: 2;
    padding-left: 1em;
    width: 50%;
    color: rgba(51, 51, 51, 0.6); }
    .landing__people-input:focus {
      outline: none; }
    .landing__people-input::-webkit-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .landing__people-input:-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .landing__people-input::placeholder {
      color: rgba(51, 51, 51, 0.6); }

.why {
  padding: 5em 0 4em; }
  .why__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .why__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .why__container {
        width: 1110px; } }
  .why__elements-container {
    position: relative; }
    @media screen and (min-width: 1024px) {
      .why__elements-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
  .why__img-container {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1024px) {
      .why__img-container {
        width: 48%; } }
  .why__copy-container {
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .why__copy-container {
        width: 48%; } }
  .why__copy-header-title {
    font-family: "Lora", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 2.1em;
    line-height: 1.4; }
    @media screen and (min-width: 1024px) {
      .why__copy-header-title {
        margin-top: 0; } }
  .why__copy-header-subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #333333; }
    @media screen and (min-width: 1024px) {
      .why__copy-header-subtitle {
        font-size: 1.6em; } }
  .why__copy-text {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .why__copy-text {
        margin-bottom: 0;
        font-size: 1.1em; } }

.experience {
  padding: 4em 0;
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), url(../images/unique-experiencie.jpg) 50% 50%/cover no-repeat; }
  @media screen and (min-width: 480px) {
    .experience {
      padding: 7em 0; } }
  @media screen and (min-width: 1024px) {
    .experience {
      padding: 6em 0; } }
  .experience__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .experience__container {
        width: 85%; } }
    @media screen and (min-width: 1024px) {
      .experience__container {
        width: 60%; } }
    @media screen and (min-width: 1200px) {
      .experience__container {
        width: 1110px; } }
  .experience__copy-container {
    text-align: center; }
    @media screen and (min-width: 640px) {
      .experience__copy-container {
        width: 80%;
        margin: 0 auto; } }
    @media screen and (min-width: 1200px) {
      .experience__copy-container {
        width: 50%; } }
  .experience__header {
    padding-bottom: 1em;
    border-bottom: 2px solid #fff; }
  .experience__title, .experience__text, .experience__button {
    color: #fff; }
  .experience__title {
    font-size: 3em;
    text-transform: uppercase;
    font-family: "Lora", serif;
    font-weight: 400;
    margin-bottom: 0; }
    @media screen and (min-width: 1024px) {
      .experience__title {
        font-size: 2.5em; } }
  .experience__text {
    font-size: 1.4em;
    line-height: 1.5; }
    @media screen and (min-width: 1024px) {
      .experience__text {
        font-size: 1.2em; } }
  .experience__button {
    font-size: 1.6em; }

.room {
  padding: 4em 0 3em;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .room {
      padding-bottom: 4em; } }
  .room__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .room__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .room__container {
        width: 1110px; } }
  .room__header {
    text-align: center; }
  .room__header-title {
    font-family: "Lora", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 2.1em;
    margin-bottom: 0; }
  .room__header-subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #333333;
    line-height: 1.4; }
    @media screen and (min-width: 1024px) {
      .room__header-subtitle {
        font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    .room__items-container {
      margin-top: 5em; } }
  .room__item {
    margin-bottom: 4em; }
    @media screen and (min-width: 1024px) {
      .room__item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 8em; } }
    @media screen and (min-width: 1200px) {
      .room__item {
        -ms-flex-align: center;
        align-items: center; } }
  .room__item--margin {
    margin-bottom: 0; }
  .room__item-room-one, .room__item-room-two, .room__item-room-three {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1024px) {
      .room__item-room-one, .room__item-room-two, .room__item-room-three {
        width: 49%; } }
  @media screen and (min-width: 1024px) {
    .room__item-copy-container {
      width: 48%; } }
  .room__item-title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    display: inline-block;
    margin-bottom: .5em; }
    .room__item-title:before {
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #333333;
      position: absolute;
      bottom: -.1em;
      left: 0; }
    @media screen and (min-width: 1024px) {
      .room__item-title {
        margin-top: 0; } }
  .room__item-subtitle {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 600;
    margin: .5em 0 .8em; }
    @media screen and (min-width: 1024px) {
      .room__item-subtitle {
        font-size: 1.4em; } }
  .room__item-text {
    margin-bottom: 2.5em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .room__item-text {
        font-size: 1.1em;
        margin-bottom: 1.5em; } }
  @media screen and (min-width: 1024px) {
    .room__button {
      line-height: 2;
      font-size: 1em; } }

.activities {
  background-color: #fff;
  padding: 4em 0; }
  .activities__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .activities__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .activities__container {
        width: 1110px; } }
  .activities__header {
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .activities__header {
        width: 50%;
        margin: 0 auto; } }
  .activities__header-title {
    font-family: "Lora", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 2.1em;
    line-height: 1.4;
    margin-bottom: .5em; }
  .activities__header-subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.4;
    color: #333333;
    margin-top: 0; }
    @media screen and (min-width: 1024px) {
      .activities__header-subtitle {
        font-size: 1.5em; } }
  .activities__copy-container {
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .activities__copy-container {
        width: 80%;
        margin: 0 auto; } }
  .activities__copy {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .activities__copy {
        font-size: 1.1em;
        line-height: 1.8; } }
  .activities__cards-container {
    padding-top: 3em; }
    @media screen and (min-width: 640px) {
      .activities__cards-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .activities__card {
    background-color: #fafafa;
    box-shadow: 0.5px 0.5px 2px 1px rgba(51, 51, 51, 0.1);
    margin-bottom: 2em;
    border-radius: 5px;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .activities__card {
        width: 48%; } }
    @media screen and (min-width: 1024px) {
      .activities__card {
        width: 47%; } }
    @media screen and (min-width: 1200px) {
      .activities__card {
        width: 22.5%; } }
  .activities__card-img-container {
    margin: 0;
    padding: 0; }
  .activities__card-img {
    border-radius: 5px 5px 0 0; }
  .activities__card-copy-container {
    padding: 1em; }
  .activities__card-title {
    margin: 0 0 .5em;
    text-transform: uppercase;
    color: #333333;
    font-size: 1.1em;
    font-weight: 600; }
  .activities__card-text {
    color: rgba(51, 51, 51, 0.7);
    line-height: 1.5; }
    @media screen and (min-width: 1200px) {
      .activities__card-text {
        font-size: .9em;
        line-height: 1.7; } }
  @media screen and (min-width: 1200px) {
    .activities__button {
      font-size: 1em;
      line-height: 2; } }

.event {
  padding: 4em 0 6em; }
  .event__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .event__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .event__container {
        width: 1110px; } }
  .event__header {
    text-align: center; }
  .event__header-title {
    font-family: "Lora", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 2.1em;
    line-height: 1.4;
    margin-bottom: 0; }
  .event__header-subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #333333;
    margin-top: .5em; }
    @media screen and (min-width: 1024px) {
      .event__header-subtitle {
        font-size: 1.5em; } }
  .event__copy {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .event__copy {
        font-size: 1.1em; } }
  .event__items-container {
    margin-top: 3em; }
    @media screen and (min-width: 1024px) {
      .event__items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .event__item-one, .event__item-two {
    padding: 1em 1em 2em; }
    @media screen and (min-width: 1024px) {
      .event__item-one, .event__item-two {
        width: 47%;
        height: 40em; } }
    @media screen and (min-width: 1200px) {
      .event__item-one, .event__item-two {
        width: 48%;
        height: 42em; } }
  .event__item-one {
    background-color: #EFEAE3;
    margin-bottom: 2em; }
  .event__item-two {
    background-color: #E8E8E8; }
  .event__item-img-container {
    margin: 0;
    padding: 0; }
  .event__item-title {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0; }
  .event__item-text {
    margin-top: .5em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1200px) {
      .event__item-text {
        font-size: 1.1em;
        line-height: 1.8; } }

.dining {
  padding: 6em 0 5em;
  background-color: #fff; }
  .dining__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .dining__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .dining__container {
        width: 1110px; } }
  @media screen and (min-width: 1024px) {
    .dining__items-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center; } }
  .dining__img-container {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1024px) {
      .dining__img-container {
        width: 49%; } }
  .dining__copy-container {
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .dining__copy-container {
        width: 48%; } }
  .dining__header-title {
    font-family: "Lora", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 2.1em;
    line-height: 1.4; }
  .dining__text {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .dining__text {
        font-size: 1.1em;
        line-height: 1.7; } }

.contact {
  padding: 4em 0 1em; }
  .contact__container {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .contact__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .contact__container {
        width: 1110px; } }
  .contact__header-title {
    font-family: "Lora", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 2.1em;
    line-height: 1.4;
    margin-bottom: 0; }
  .contact__items-container {
    padding-top: 2em; }
  @media screen and (min-width: 1024px) {
    .contact__item-one {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 1em; } }
  .contact__element-container {
    margin-bottom: 3em; }
    @media screen and (min-width: 1024px) {
      .contact__element-container {
        width: 30%; } }
  @media screen and (min-width: 1024px) {
    .contact__item-two {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .contact__item {
    margin-bottom: 5em; }
    @media screen and (min-width: 1024px) {
      .contact__item {
        width: 45%; } }
  .contact__item-title {
    color: #333333;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1.6em;
    display: inline-block;
    margin: .5em 0;
    position: relative; }
    .contact__item-title:after {
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #333333;
      position: absolute;
      bottom: -.2em;
      left: 0; }
    @media screen and (min-width: 1024px) {
      .contact__item-title {
        font-size: 1.3em; } }
  .contact__item-text {
    color: rgba(51, 51, 51, 0.7);
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .contact__item-text {
        font-size: 1.05em; } }

.footer {
  padding: 4em 0 1.5em;
  background-color: #fff; }
  .footer__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .footer__container {
        width: 85%; } }
    @media screen and (min-width: 1200px) {
      .footer__container {
        width: 1110px; } }
  .footer__items-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3em; }
    @media screen and (min-width: 1200px) {
      .footer__items-container {
        margin-bottom: 6em; } }
  .footer__item {
    margin-bottom: 2em;
    width: 48%; }
    @media screen and (min-width: 768px) {
      .footer__item {
        width: 33%;
        text-align: center; } }
  .footer__item-title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    margin: .5em 0;
    font-size: 1.1em;
    letter-spacing: 3px;
    position: relative; }
    .footer__item-title:after {
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #333333;
      position: absolute;
      bottom: -.2em;
      left: 0; }
    @media screen and (min-width: 1024px) {
      .footer__item-title {
        font-size: 1em; } }
  .footer__list {
    margin: 1.5em 0 0;
    padding-left: 0;
    list-style: none; }
  .footer__link {
    line-height: 3;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
    font-size: 1.1em;
    transition: all 250ms ease-in; }
    .footer__link:hover {
      text-decoration: underline; }
    @media screen and (min-width: 1024px) {
      .footer__link {
        font-size: .9em; } }
  .footer__bottom-elements {
    text-align: center; }
  .footer__logo-container {
    width: 12em; }
  .footer__logo-type-top, .footer__logo-type-bottom {
    fill: rgba(51, 51, 51, 0.8); }
  .footer__copyright {
    color: rgba(51, 51, 51, 0.8); }
  .footer__social-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media screen and (min-width: 1200px) {
      .footer__social-list {
        margin-top: 2em; } }
  @media screen and (min-width: 768px) {
    .footer__social-item {
      display: inline-block; } }
  @media screen and (min-width: 768px) {
    .footer__social-item-fb {
      margin-right: 2em; } }
  @media screen and (min-width: 1024px) {
    .footer__social-link {
      font-size: 1em; } }
