.experience {
	padding: 4em 0;
	background:
		linear-gradient(rgba(0, 0, 0, .22),rgba(0, 0, 0, .22)),
		url(../images/unique-experiencie.jpg) 50% 50% / cover no-repeat;

	&__container {
		width: 90%;
		margin: 0 auto;
	}
	&__copy-container {
		text-align: center;
	}
	&__header {
		padding-bottom: 1em;
		border-bottom: 2px solid #fff;
	}
	&__title,
	&__text,
	&__button {
		color: #fff;
	}
	&__title {
		font-size: 3em;
		text-transform: uppercase;
		font-family: $titleFont;
		font-weight: $normalTitle;
		margin-bottom: 0;
	}
	&__text {
		font-size: 1.4em;
		line-height: 1.5;
	}
	&__button {
		font-size: 1.6em;
	}
}