.footer {
	padding: 4em 0 1.5em;
	background-color: #fff;

	&__container {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 768px) {
			width: 85%;
		}

		@media screen and (min-width: 1200px) {
			width: 1110px;
		}
	}
	//Items
	&__items-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 3em;

		@media screen and (min-width: 1200px) {
			margin-bottom: 6em;
		}
	}
	&__item {
		margin-bottom: 2em;
		width: 48%;

		@media screen and (min-width: 768px) {
			width: 33%;
			text-align: center;
		}
	}
	&__item-title {
		display: inline-block;
		text-transform: uppercase;
		font-weight: $normal;
		margin: .5em 0;
		font-size: 1.1em;
		letter-spacing: 3px;
		position: relative;
		&:after {
			content: " ";
			width: 100%;
			height: 1px;
			background-color: $color2;
			position: absolute;
			bottom: -.2em;
			left: 0;
		}

		@media screen and (min-width: 1024px) {
			font-size: 1em;
		}
	}
	&__list {
		margin: 1.5em 0 0;
		padding-left: 0;
		list-style: none;
	}
	&__list-item {

	}
	&__link {
		line-height: 3;
		text-decoration: none;
		color: rgba($color2, .7);
		font-size: 1.1em;
		transition: all 250ms ease-in;
		&:hover {
			text-decoration: underline;
		}

		@media screen and (min-width: 1024px) {
			font-size: .9em;
		}
	}
	//Bottom elements
	&__bottom-elements {
		text-align: center;
	}
	//svg logo styles
	&__logo-container {
		width: 12em;
	}
	&__logo-type-top,
	&__logo-type-bottom {
		fill: rgba($color2, .8);
	}
	//social list
	&__copyright {
		color: rgba($color2, .8);
	}
	&__social-list {
		margin: 0;
		padding: 0;
		list-style: none;

		@media screen and (min-width: 1200px) {
			margin-top: 2em;
		}
	}
	&__social-item {

		@media screen and (min-width: 768px) {
			display: inline-block;
		}
	}
	&__social-item-fb {

		@media screen and (min-width: 768px) {
			margin-right: 2em;
		}
	}
	&__social-link {

		@media screen and (min-width: 1024px) {
			font-size: 1em;
		}
	}
}