.main-nav {
	background-color: $color5;
	@media screen and (max-width: 1023px) {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		z-index: 600;

		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;
		transition: all 350ms ease-in;

		&.show-menu {
			left: 0;
		}
	}

	&__list {
		margin: 0;
		padding-left: 0;
		list-style: none;

		@media screen and (max-width: 1023px) {
			width: 90%;
		}
	}
	&__item {
		
		@media screen and (min-width: 1024px) {
			display: inline-block;
			margin-left: 2em;
		}
	}
	//svg icons style
	&__icon {
		width: 2em;
		margin-right: 1em;
		position: relative;
		top: .3em;

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
	//link styles
	&__link {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: $color2;
		font-size: 1.2em;
		font-weight: $light;
		letter-spacing: 2px;
		line-height: 4.5;
		border-bottom: 1px solid rgba($color2, .2);	
		transition: all 250ms ease-in;

		@media screen and (min-width: 1024px) {
			&:hover {
				background-color: rgba($color2, .1); 
			}
		}

		@media screen and (min-width: 1024px) {
			border-bottom: none;
			font-size: .9em;
			font-weight: $normal;

			&:hover {
				background-color: transparent;
				color: $color1;
			}
		}
	}
	//Link book nav styles
	&__link-book {

		@media screen and (min-width: 1024px) {
			background-color: $color1;
			line-height: 2.5;
			padding: 0 1.3em;
			border-radius: 3em;
			color: #fff;
			font-weight: $medium;
			&:hover {
				background-color: lighten($color1, 5%);
				color: #fff;
			}
		}
	}
}