doctype html
html(lang="en")
	head
		title Hotel Rosarito Beach | Official Website
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3")
		meta(name="description" content="Rosarito Beach hotel & spa, one of Baja's most famous landmarks, 30 miles south of San Diego, at the heart of the popular resort destination, panoramic ocean views over the sea, Weekend Fun, Family Vacation, Retirement.")
		link(rel="icon" href="./favicon.png")
		link(rel="stylesheet" href="./css/normalize.css")
		link(rel="stylesheet" href="./css/main.css")
	body
		header.header
			div.header__container
				div.header__icons-container
					a(href="/" alt="logo-rosarito-beach")
						svg.header__logo-container(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 155.6 39.5" xml:space="preserve" enable-background="new 0 0 155.6 39.5")
							g(id="XMLID_1055_")
								g(id="XMLID_53_")
									g(id="XMLID_318_")
										path.header__logo-type-top(id="XMLID_349_" d="M4.3 7c0.1 0 0.2 0.1 0.2 0.2 0 0.1 0 0.1-0.1 0.2C3.7 8.2 2.7 8.6 1.7 8.6c-0.2 0-0.5-0.1-0.8-0.4C0.5 7.9 0.4 7.5 0.4 6.9c0-0.5 0.3-1.1 1-1.8C2 4.5 2.9 3.9 4.1 3.3s2.6-1.1 4.4-1.6C10.2 1.3 11.8 1 13.2 1c1.4 0 2.5 0.1 3.4 0.3 0.9 0.2 1.6 0.5 2.1 0.8 0.5 0.3 0.9 0.7 1.2 1.1 0.5 0.7 0.8 1.4 0.8 2.1S20.5 6.9 20 7.6c-0.5 0.8-1.1 1.4-1.8 2 -0.7 0.6-1.6 1.1-2.5 1.6 -1.8 0.9-3.7 1.6-5.7 2.1 0.3 0.4 1.1 1.2 2.2 2.7 1.1 1.4 2.1 2.6 3.1 3.6 0.9 1 1.6 1.4 2.1 1.4l0.5-0.2c0.1 0 0.2 0 0.2 0.1s-0.2 0.3-0.5 0.7c-0.4 0.4-0.7 0.7-0.9 0.9 -0.3 0.2-0.6 0.3-1.1 0.3s-1-0.2-1.5-0.6c-0.6-0.4-1.2-1-1.9-1.8 -0.7-0.8-1.3-1.5-1.8-2.2 -0.5-0.7-1.1-1.5-1.8-2.5 -0.7-0.9-1.2-1.6-1.4-1.9C7 14 6.8 14.3 6.4 14.9 6 15.6 5.7 16 5.5 16.3c-0.2 0.3-0.4 0.7-0.8 1.3 -0.3 0.6-0.6 1-0.8 1.3 -0.5 0.9-0.9 1.6-1.1 2 -0.2 0.4-0.5 0.7-1 0.7l-0.5 0 -0.4 0c-0.6 0-0.9-0.2-0.9-0.7 0-0.4 0.2-0.9 0.5-1.6 0.3-0.7 2-3.3 5.1-7.8s4.8-6.9 5.1-7.2c0.3-0.3 0.6-0.5 0.7-0.5 0.1-0.1 0.2-0.1 0.2-0.1l0.3 0 0.2 0c0.1 0 0.2 0 0.2 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.4 0.3 0.6 0.5 0.6 0.7 0 0.2-0.1 0.4-0.2 0.6 -0.1 0.2-0.4 0.6-0.8 1.3 -0.5 0.7-1 1.5-1.8 2.5 -0.7 1-1.3 1.8-1.6 2.3 0.8 0 1.7-0.3 2.8-0.7 1.1-0.4 2.1-1 3.1-1.6 1-0.6 1.8-1.3 2.5-2 0.7-0.7 1-1.4 1-1.9 0-0.3-0.1-0.5-0.4-0.8 -0.3-0.2-0.7-0.4-1.1-0.6 -0.9-0.3-1.9-0.4-3-0.4C12.5 3.3 11 3.5 9.3 4c-1.7 0.5-3 1-3.8 1.4C4.7 5.8 4.1 6.2 3.8 6.5 3.4 6.8 3.2 7.1 3.2 7.2c0 0.1 0.1 0.1 0.3 0.1 0.2 0 0.4-0.1 0.5-0.2C4.2 7 4.3 7 4.3 7zM27.4 10.8c0.3 0 0.6 0.1 0.9 0.4 0.3 0.3 0.5 0.7 0.5 1.2 0 0.5-0.2 1.2-0.6 2.1 -0.4 0.8-0.9 1.7-1.5 2.6 -0.7 0.9-1.4 1.7-2.1 2.5 -0.8 0.8-1.6 1.4-2.5 1.9 -0.9 0.5-1.7 0.7-2.5 0.7 -0.7 0-1.3-0.2-1.8-0.7S17 20.3 17 19.5s0.2-1.7 0.6-2.8c0.4-1 0.9-1.9 1.6-2.7 0.6-0.8 1.3-1.5 2.1-2.1 1.6-1.3 2.9-1.9 4.1-1.9 0.5 0 0.9 0.1 1.2 0.4 0.1 0.1 0.1 0.2 0.1 0.2v0.1C26.9 10.8 27.1 10.8 27.4 10.8zM25.9 12.7h-0.1c-0.3 0-0.5-0.2-0.5-0.7 -0.7 0.2-1.4 0.6-2.2 1.2 -0.8 0.6-1.5 1.3-2.1 2 -1.2 1.6-1.8 2.9-1.9 4 0 0.5 0.2 0.8 0.6 0.8 0.4 0 1-0.3 1.8-0.8 0.8-0.5 1.5-1.3 2.3-2.2 0.8-1 1.3-1.8 1.7-2.5 0.4-0.7 0.6-1.2 0.6-1.4C26.1 12.8 26 12.7 25.9 12.7zM30 18.9l0 0.2c0 0.2 0.1 0.4 0.3 0.6 0.2 0.2 0.3 0.3 0.5 0.3 1.1 0 2.2-0.2 3.1-0.5 0.9-0.3 1.3-0.7 1.3-1 0-0.2-0.2-0.3-0.5-0.4 -0.3-0.1-0.9-0.3-1.6-0.4 -0.8-0.2-1.3-0.3-1.7-0.4 -0.3-0.1-0.6-0.2-0.8-0.3 -0.2-0.1-0.4-0.2-0.6-0.4 -0.5-0.3-0.7-0.8-0.7-1.4 0-0.6 0.2-1.3 0.7-1.9 0.5-0.6 1-1.1 1.7-1.6 0.7-0.4 1.5-0.8 2.3-1.2 1.6-0.7 2.9-1 4-1 1.1 0 1.7 0.2 2 0.7 0.1 0.2 0.1 0.3 0.1 0.5v0.1c0 0.5-0.1 0.9-0.3 1.2 -0.2 0.3-0.6 0.5-1 0.8 -0.5 0.2-0.8 0.3-1.1 0.3 -0.3 0-0.4 0-0.5-0.1 -0.1 0-0.1-0.1-0.2-0.2 0-0.1-0.1-0.1-0.2-0.1 -0.1 0-0.1-0.1-0.1-0.2s0-0.2 0.1-0.4c0.1-0.1 0.2-0.2 0.2-0.4 -0.6 0-1.3 0.2-2 0.4s-1.3 0.6-1.8 0.9c-0.5 0.3-0.9 0.6-1.2 0.9 -0.3 0.3-0.5 0.5-0.5 0.7s0.2 0.3 0.7 0.3c2 0.4 3.3 0.7 3.9 1 0.6 0.3 1.1 0.6 1.3 1 0.2 0.4 0.4 0.7 0.4 1 0 0.6-0.2 1.2-0.7 1.7 -0.5 0.5-1.1 1-1.8 1.3 -1.5 0.8-2.9 1.1-4 1.1 -1.1 0-1.9-0.2-2.4-0.5 -0.4-0.3-0.7-0.8-0.7-1.2s0.1-0.9 0.4-1.3c0.2-0.4 0.6-0.6 0.9-0.6C29.8 18.6 30 18.7 30 18.9zM50.2 10.8c0.7 0 1.1 0.2 1.1 0.7 0 0.3-0.1 0.5-0.2 0.6 -0.1 0.1-0.4 0.5-0.8 1.2 -0.4 0.7-0.9 1.6-1.4 2.7 -0.5 1.1-0.8 2-1 2.8 0 0.1 0 0.2 0 0.4 0 0.5 0.1 0.8 0.4 0.8s0.6-0.1 1-0.4c0.4-0.3 0.7-0.6 1-0.9 0.3-0.3 0.6-0.6 0.9-1 0.3-0.3 0.5-0.5 0.5-0.6 0.1 0 0.1-0.1 0.3-0.1 0.2 0 0.3 0.1 0.3 0.4 0 0.3 0.1 0.6 0.1 0.9 0 0.3 0 0.5-0.1 0.6 -0.3 0.5-0.9 1.2-1.8 2 -0.9 0.8-1.8 1.1-2.6 1.1s-1.3-0.2-1.7-0.7c-0.4-0.5-0.5-1-0.5-1.6 0-0.6 0.1-1.1 0.3-1.5 -0.8 1-1.7 1.9-2.7 2.6 -1 0.7-1.9 1.1-2.5 1.1s-1.2-0.2-1.6-0.6c-0.5-0.5-0.8-1.2-0.8-2 0-0.9 0.2-1.7 0.6-2.6 0.4-0.9 0.9-1.7 1.5-2.4 0.6-0.7 1.3-1.4 2.1-2 1.6-1.2 3.1-1.9 4.4-1.9 0.5 0 0.9 0.1 1.3 0.3 0.3 0.2 0.5 0.4 0.6 0.6 0.2-0.3 0.4-0.6 0.6-0.7C49.6 10.9 49.9 10.8 50.2 10.8zM48.3 12.4c-1.6 0-3.3 0.9-5.1 2.7 -0.6 0.7-1.2 1.4-1.7 2.3 -0.5 0.9-0.8 1.5-0.8 1.9 0 0.3 0.1 0.5 0.3 0.5 0.3 0 1-0.5 2.2-1.6 1.2-1.1 2-1.8 2.4-2.3C46.1 15.4 47 14.2 48.3 12.4zM55.9 13.9c2.3-2.6 4.2-3.9 5.8-3.9 0.4 0 0.7 0.1 1 0.4 0.3 0.2 0.4 0.5 0.4 0.9 0 0.4-0.3 1-0.8 1.9 -0.5 0.9-1 1.6-1.5 2.2 -0.2 0.3-0.5 0.5-0.8 0.5 -0.3 0-0.5-0.1-0.7-0.3 -0.2-0.2-0.3-0.5-0.3-0.8 0-0.7 0.4-1.4 1.1-2.2l0 0c-0.3 0-1.1 0.7-2.4 1.9 -1.3 1.2-2.3 2.3-3.2 3.3 -0.9 1-1.8 2.1-2.9 3.5 -0.3 0.4-0.5 0.6-0.8 0.6 -0.2 0-0.5-0.1-0.8-0.2s-0.5-0.2-0.6-0.3c-0.1-0.1-0.1-0.2-0.1-0.3 0-0.1 0-0.3 0.1-0.5 0.1-0.2 0.2-0.4 0.4-0.8 0.2-0.3 0.5-0.9 0.9-1.6 0.4-0.7 1.1-1.8 1.9-3.3 0.9-1.5 1.4-2.4 1.6-2.7 0.4-0.6 0.7-1.1 0.9-1.4 0.4-0.5 1.2-0.8 2.2-0.8 0.2 0 0.3 0.1 0.3 0.4 0 0.5-0.4 1.3-1.3 2.5L55.9 13.9zM68.5 18.5c0 0.3 0 0.5-0.1 0.6 -0.5 1-1.2 1.7-2.2 2.3 -1 0.6-1.9 0.9-2.7 0.9 -0.8 0-1.4-0.3-2-0.8 -0.5-0.5-0.8-1-0.8-1.6s0.3-1.3 0.8-2.3c0.5-1 1.1-1.9 1.6-2.8 0.5-0.9 0.8-1.3 0.8-1.4s-0.1-0.2-0.3-0.4c-0.2-0.2-0.3-0.4-0.3-0.5s0.2-0.4 0.6-0.8c0.4-0.4 0.9-0.8 1.5-1.3 0.6-0.4 1-0.6 1.3-0.6 0.3 0 0.6 0.1 0.8 0.4 0.2 0.3 0.4 0.5 0.4 0.7 0 0.2-1.1 2.3-3.4 6.2 0 0.1-0.1 0.2-0.2 0.4 -0.1 0.2-0.2 0.4-0.3 0.5 -0.1 0.1-0.2 0.3-0.3 0.5 -0.2 0.4-0.3 0.7-0.3 1 0 0.3 0.2 0.5 0.7 0.5 0.4 0 0.9-0.2 1.4-0.5 0.5-0.3 0.9-0.6 1.2-1 0.9-1 1.4-1.5 1.5-1.5C68.4 17.2 68.5 17.7 68.5 18.5zM70.8 6c0 0.5-0.3 1.1-0.8 1.6 -0.5 0.6-1 0.8-1.6 0.8 -0.6 0-0.8-0.3-0.8-0.9s0.2-1.1 0.7-1.6c0.5-0.5 1-0.8 1.6-0.8 0.3 0 0.5 0.1 0.6 0.2C70.8 5.5 70.8 5.7 70.8 6zM77.3 3.2l0.6 0.1c0.1 0 0.2 0 0.2 0.1 0.1 0.1 0.1 0.2 0.1 0.2 0 0.1-0.1 0.3-0.3 0.6 -0.2 0.3-0.4 0.7-0.7 1.1 -0.3 0.4-0.4 0.7-0.4 0.7 0.7-0.1 1.3-0.1 1.6-0.1 0.3 0 0.5 0 0.6 0.1 0.1 0 0.2 0.2 0.4 0.4 0.1 0.2 0.3 0.3 0.4 0.4C80 7.1 80 7.2 80 7.4c0 0.2-0.1 0.4-0.4 0.5 -0.2 0.1-0.5 0.2-0.8 0.3 -2.2 0.2-3.5 0.3-3.7 0.3 -0.8 1.2-1.9 3-3.3 5.6 -1.4 2.5-2.1 4.1-2.2 4.7 0 0.3-0.1 0.5-0.1 0.7 0 0.4 0.2 0.6 0.6 0.6s0.8-0.2 1.3-0.5c0.5-0.3 0.9-0.6 1.3-1 1.1-1 1.6-1.4 1.7-1.4 0.2 0 0.4 0.4 0.4 1.3 0 0.5-0.2 0.9-0.6 1.3 -1 0.8-1.8 1.5-2.4 1.9 -0.7 0.4-1.3 0.6-2 0.6 -0.1 0-0.3 0-0.4 0 -0.8-0.1-1.3-0.4-1.7-0.8 -0.4-0.4-0.5-1-0.5-1.7 0-0.7 0.2-1.6 0.6-2.6 0.4-1 0.9-2.1 1.6-3.2 1-1.9 2.1-3.6 3.1-5.2L72 8.8c-1.1 0.1-1.8 0.2-1.9 0.2H70c-0.3 0-0.5-0.1-0.8-0.2 -0.3-0.1-0.4-0.2-0.4-0.4 0-0.2 0.1-0.3 0.2-0.5 0.1-0.2 0.2-0.3 0.3-0.4 0.1-0.2 0.3-0.4 0.8-0.7 0.4-0.3 0.8-0.4 1-0.4 0.2 0 0.4 0 0.6 0 0.2 0 0.4 0 0.7 0 0.3 0 0.4 0 0.6 0l1.3-0.1c0.8-1.2 1.4-2 1.7-2.3 0.3-0.3 0.5-0.5 0.5-0.6 0 0 0.1-0.1 0.3-0.1L77.3 3.2zM83.5 10.8c0.3 0 0.6 0.1 0.9 0.4 0.3 0.3 0.5 0.7 0.5 1.2 0 0.5-0.2 1.2-0.6 2.1 -0.4 0.8-0.9 1.7-1.5 2.6 -0.7 0.9-1.4 1.7-2.1 2.5 -0.8 0.8-1.6 1.4-2.5 1.9 -0.9 0.5-1.7 0.7-2.5 0.7 -0.7 0-1.3-0.2-1.8-0.7s-0.7-1.1-0.7-1.9 0.2-1.7 0.6-2.8c0.4-1 0.9-1.9 1.6-2.7 0.6-0.8 1.3-1.5 2.1-2.1 1.6-1.3 2.9-1.9 4.1-1.9 0.5 0 0.9 0.1 1.2 0.4 0.1 0.1 0.1 0.2 0.1 0.2v0.1C83 10.8 83.2 10.8 83.5 10.8zM82.1 12.7H82c-0.3 0-0.5-0.2-0.5-0.7 -0.7 0.2-1.4 0.6-2.2 1.2 -0.8 0.6-1.5 1.3-2.1 2 -1.2 1.6-1.8 2.9-1.9 4 0 0.5 0.2 0.8 0.6 0.8 0.4 0 1-0.3 1.8-0.8 0.8-0.5 1.5-1.3 2.3-2.2 0.8-1 1.3-1.8 1.7-2.5 0.4-0.7 0.6-1.2 0.6-1.4C82.3 12.8 82.2 12.7 82.1 12.7zM97.9 7l0.4-0.1c0.1 0 0.1 0.1 0.1 0.2 0 0.1-0.2 0.3-0.5 0.5C97.5 7.9 97.1 8 96.7 8s-0.8-0.1-1.1-0.4c-0.3-0.3-0.4-0.6-0.4-1 0-0.9 0.6-1.8 1.8-2.7 1.2-0.9 2.6-1.6 4.4-2.2 1.7-0.5 3.4-0.8 5-0.8 2.3 0 4.1 0.4 5.2 1.1s1.7 1.8 1.7 3c0 1.6-1.1 3.2-3.4 4.7 -1.2 0.8-2.5 1.4-3.9 1.9 1.5 0.2 2.7 0.7 3.6 1.5 0.7 0.6 1 1.4 1 2.3 0 0.9-0.5 1.9-1.4 2.9 -0.9 1-2.1 1.8-3.6 2.4 -1.5 0.6-3 1-4.6 1 -1.8 0-3.1-0.4-4-1.2 -0.4-0.4-0.6-0.7-0.6-1 0-0.3 0.1-0.6 0.2-0.9C96 20 95.5 21 95.2 21.6c-0.1 0.3-0.4 0.4-0.9 0.4 -0.4 0-0.8-0.1-1-0.3 -0.2-0.2-0.4-0.5-0.4-0.8 0-0.3 0-0.5 0.1-0.8 0.4-1.1 2-3.8 4.6-7.9 2.6-4.2 4.2-6.6 4.8-7.2 0.3-0.4 1-0.6 2.1-0.6 0.4 0 0.6 0.1 0.6 0.3 0 0.1-0.6 1.2-1.9 3.2 -1.3 2-1.9 3.1-2 3.2 1.3-0.4 2.7-0.9 4.1-1.6 1.4-0.7 2.6-1.4 3.7-2.3 1-0.8 1.6-1.6 1.6-2.3 0-1.1-1.2-1.7-3.7-1.7 -2.5 0-5 0.7-7.4 2 -0.6 0.3-1 0.6-1.3 0.9 -0.3 0.3-0.5 0.5-0.5 0.6S97.8 7 97.9 7zM100.5 13.9c-0.2 0-0.4-0.2-0.6-0.6C99 14.8 98 16.4 97 18.2c0.5-0.6 1.1-0.9 2-0.9 0.6 0 0.9 0.1 0.9 0.2 0 0.1-0.1 0.1-0.2 0.2 -0.4 0.1-0.6 0.4-0.6 0.6 0 0.7 0.7 1 2.2 1 2 0 3.8-0.7 5.4-2.1 0.9-0.7 1.3-1.4 1.3-1.9 0-0.3-0.4-0.7-1-1.1 -0.8-0.5-2.1-0.7-3.7-0.7 -1.2 0-1.9 0.1-2.2 0.2C100.6 13.8 100.5 13.9 100.5 13.9zM120.7 11c0 0.6-0.3 1.2-0.8 1.7 -0.5 0.5-1.1 0.7-1.7 0.7 -0.2 0-0.4-0.1-0.4-0.2 -0.1-0.1-0.1-0.2-0.1-0.4 0-0.2 0-0.3 0.1-0.5 -0.3 0.1-0.7 0.3-1.1 0.5 -0.4 0.2-0.9 0.6-1.6 1.1 -0.6 0.5-0.9 0.8-0.9 1 0 0.1 0.1 0.1 0.3 0.1 0.2 0 0.6-0.1 1-0.2 0.5-0.2 0.8-0.2 1-0.2 0.2 0 0.3 0 0.4 0 0.1 0.1 0.3 0.2 0.4 0.4 0.1 0.2 0.2 0.4 0.2 0.5 0 0.1-0.1 0.3-0.4 0.5 -0.2 0.2-0.5 0.4-0.8 0.5 -0.3 0.1-0.5 0.2-0.6 0.3 -2 1.1-3 1.9-3 2.3 0 0.7 0.6 1.1 1.9 1.1 0.8 0 1.6-0.3 2.5-0.8 0.7-0.4 1.3-0.9 1.9-1.3 0.6-0.5 0.9-0.7 1.1-0.8 0.1-0.1 0.3-0.2 0.3-0.2 0.2 0 0.4 0.3 0.4 0.8 0 0.6 0 0.9-0.1 1.1 -0.1 0.2-0.3 0.4-0.6 0.7 -2.1 1.7-4 2.5-5.8 2.5 -1 0-1.8-0.1-2.3-0.4 -1.1-0.5-1.6-1.2-1.6-2.2 0-1.3 0.9-2.3 2.7-3 -0.4-0.2-0.6-0.4-0.7-0.6 -0.1-0.3-0.2-0.7-0.2-1.2s0.3-1.2 0.8-1.8c0.5-0.6 1.2-1.1 1.9-1.5 1.7-0.9 3.2-1.4 4.5-1.4 0.3 0 0.6 0.1 1 0.2C120.5 10.5 120.7 10.7 120.7 11zM131.1 10.8c0.7 0 1.1 0.2 1.1 0.7 0 0.3-0.1 0.5-0.2 0.6 -0.1 0.1-0.4 0.5-0.8 1.2 -0.4 0.7-0.9 1.6-1.4 2.7 -0.5 1.1-0.8 2-1 2.8 0 0.1 0 0.2 0 0.4 0 0.5 0.1 0.8 0.4 0.8 0.3 0 0.6-0.1 1-0.4 0.4-0.3 0.7-0.6 1-0.9 0.3-0.3 0.6-0.6 0.9-1 0.3-0.3 0.5-0.5 0.5-0.6s0.1-0.1 0.3-0.1c0.2 0 0.3 0.1 0.3 0.4 0 0.3 0.1 0.6 0.1 0.9 0 0.3 0 0.5-0.1 0.6 -0.3 0.5-0.9 1.2-1.8 2 -0.9 0.8-1.8 1.1-2.6 1.1 -0.8 0-1.3-0.2-1.7-0.7 -0.4-0.5-0.5-1-0.5-1.6 0-0.6 0.1-1.1 0.3-1.5 -0.8 1-1.7 1.9-2.7 2.6 -1 0.7-1.9 1.1-2.5 1.1s-1.2-0.2-1.6-0.6c-0.5-0.5-0.8-1.2-0.8-2 0-0.9 0.2-1.7 0.6-2.6 0.4-0.9 0.9-1.7 1.5-2.4 0.6-0.7 1.3-1.4 2.1-2 1.6-1.2 3.1-1.9 4.4-1.9 0.5 0 0.9 0.1 1.3 0.3 0.3 0.2 0.5 0.4 0.6 0.6 0.2-0.3 0.4-0.6 0.6-0.7C130.5 10.9 130.8 10.8 131.1 10.8zM129.2 12.4c-1.6 0-3.3 0.9-5.1 2.7 -0.6 0.7-1.2 1.4-1.7 2.3 -0.5 0.9-0.8 1.5-0.8 1.9 0 0.3 0.1 0.5 0.3 0.5 0.3 0 1-0.5 2.2-1.6 1.2-1.1 2-1.8 2.4-2.3C127 15.4 127.9 14.2 129.2 12.4zM141.5 18.6c0.5-0.3 0.8-0.5 1-0.7 0.1-0.1 0.3-0.3 0.5-0.4 0.2-0.2 0.3-0.2 0.5-0.2 0.2 0 0.3 0.2 0.3 0.7 0 0.4-0.2 0.9-0.6 1.4 -0.4 0.5-1 0.9-1.6 1.3 -0.6 0.4-1.3 0.7-2 0.9 -1.4 0.5-2.6 0.8-3.6 0.8 -1 0-1.9-0.3-2.7-1s-1.2-1.5-1.2-2.6c0-1.1 0.3-2.1 0.8-3.2 0.5-1.1 1.2-2 2-2.8 0.8-0.8 1.8-1.4 2.9-1.9 1.1-0.5 2.2-0.7 3.3-0.7 0.5 0 1 0.1 1.4 0.4 0.4 0.3 0.6 0.7 0.6 1.2 0 0.5-0.3 1.1-0.8 1.9 -0.5 0.7-1 1.1-1.6 1.1 -0.6 0-0.9-0.3-0.9-0.9 0-0.2 0.1-0.4 0.4-0.8 0.3-0.4 0.4-0.7 0.4-0.8 0-0.1-0.1-0.2-0.2-0.2 -0.5 0-1.1 0.2-1.7 0.5 -0.6 0.4-1.2 0.7-1.6 1.1 -0.5 0.4-1 0.9-1.4 1.4 -1 1.1-1.4 2.2-1.4 3.4 0 0.5 0.2 0.9 0.5 1.2 0.3 0.3 0.8 0.5 1.5 0.5s1.4-0.1 2.1-0.3c0.7-0.2 1.3-0.3 1.8-0.5C140.5 19.1 141 18.9 141.5 18.6zM155.5 17.5c0.1 0.4 0.1 0.8 0.1 1 0 0.3 0 0.5-0.1 0.7 -0.1 0.2-0.3 0.5-0.6 0.8 -0.3 0.3-0.7 0.7-1.1 1 -1.1 0.8-2.1 1.3-3.2 1.3 -1.6 0-2.4-0.7-2.4-2.1 0-1.2 1.1-3.6 3.2-7.3 0.1-0.1 0.1-0.2 0.2-0.3 -0.7 0.5-2.1 1.9-4.2 4.2 -2.1 2.3-3.5 3.9-4.2 4.9 -0.1 0.1-0.2 0.2-0.4 0.3 -0.2 0.1-0.4 0.2-0.5 0.2s-0.3 0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.1 -0.1 0-0.2 0-0.2-0.1 0-0.1 0.2-0.5 0.5-1.3 0.3-0.8 0.8-1.8 1.3-3 1.5-3.3 3.8-7.5 6.8-12.8 1.1-1.8 1.9-3.1 2.5-3.9 0.4-0.5 1.1-0.8 2.1-0.8 0.2 0 0.3 0.1 0.4 0.2 0 0.1 0 0.3 0 0.4 0 0.1 0 0.3-0.1 0.4l-1.5 2.4c-3 4.8-5.3 8.7-6.9 11.8 1.5-1.8 2.9-3.2 4.4-4.2 0.9-0.6 1.5-0.9 2-0.9s0.8 0.1 1.2 0.2c0.4 0.1 0.5 0.5 0.5 1 0 0.2-0.3 0.9-0.9 2.1 -1.9 3.7-2.8 5.7-2.8 6.1s0.2 0.6 0.5 0.6c0.5 0 1.2-0.5 2.3-1.4 0.8-0.7 1.3-1.2 1.5-1.4 0.1-0.1 0.2-0.1 0.3-0.1C155.4 17.2 155.5 17.3 155.5 17.5z")
								g(id="XMLID_56_")
									path.header__logo-type-bottom(id="XMLID_66_" d="M43.7 39.4h-1.9v-3.9h-3.5v3.9h-1.9v-8.9h1.9V34h3.5v-3.5h1.9V39.4zM54.1 34.9c0 1.5-0.4 2.6-1.1 3.4 -0.7 0.8-1.8 1.2-3.2 1.2s-2.4-0.4-3.2-1.2c-0.7-0.8-1.1-1.9-1.1-3.4 0-1.5 0.4-2.6 1.1-3.4 0.7-0.8 1.8-1.2 3.2-1.2 1.4 0 2.4 0.4 3.2 1.2C53.7 32.3 54.1 33.4 54.1 34.9zM47.5 34.9c0 1 0.2 1.8 0.6 2.3s0.9 0.8 1.7 0.8c1.5 0 2.3-1 2.3-3 0-2-0.8-3-2.3-3 -0.8 0-1.3 0.3-1.7 0.8C47.7 33.2 47.5 33.9 47.5 34.9zM59.4 39.4h-1.9V32H55v-1.6h6.8V32h-2.4V39.4zM68.3 39.4h-5.2v-8.9h5.2V32h-3.3v2h3v1.6h-3v2.3h3.3V39.4zM70.2 39.4v-8.9h1.9v7.4h3.6v1.6H70.2zM88.8 39.4h-2.3l-0.7-0.7c-0.8 0.5-1.7 0.8-2.6 0.8 -1 0-1.8-0.2-2.4-0.7 -0.6-0.5-0.9-1.1-0.9-1.9 0-0.6 0.1-1 0.4-1.4s0.7-0.8 1.3-1.1c-0.3-0.4-0.5-0.7-0.7-1s-0.2-0.7-0.2-1c0-0.6 0.2-1.1 0.7-1.5s1.1-0.6 1.9-0.6c0.8 0 1.4 0.2 1.8 0.5 0.5 0.4 0.7 0.8 0.7 1.4 0 0.5-0.1 0.9-0.4 1.3 -0.3 0.4-0.7 0.8-1.4 1.1l1.7 1.7c0.3-0.5 0.5-1.1 0.8-1.8h1.9c-0.1 0.6-0.3 1.1-0.6 1.6s-0.5 1-0.9 1.4L88.8 39.4zM81.9 36.8c0 0.4 0.1 0.6 0.4 0.8s0.6 0.3 1 0.3c0.5 0 1-0.1 1.4-0.4l-2-2c-0.2 0.2-0.4 0.4-0.6 0.6C81.9 36.3 81.9 36.6 81.9 36.8zM84.1 32.5c0-0.2-0.1-0.4-0.2-0.5 -0.1-0.1-0.3-0.2-0.6-0.2 -0.3 0-0.5 0.1-0.6 0.2 -0.2 0.1-0.2 0.3-0.2 0.6 0 0.4 0.2 0.8 0.6 1.2 0.4-0.2 0.6-0.4 0.8-0.6S84.1 32.7 84.1 32.5zM98.5 36.9c0 0.8-0.3 1.4-0.9 1.9 -0.6 0.5-1.4 0.7-2.4 0.7 -1 0-1.8-0.2-2.5-0.5v-1.8c0.6 0.3 1.1 0.5 1.5 0.6S95 38 95.3 38c0.4 0 0.7-0.1 1-0.2 0.2-0.2 0.3-0.4 0.3-0.7 0-0.2 0-0.3-0.1-0.5 -0.1-0.1-0.2-0.3-0.4-0.4 -0.2-0.1-0.6-0.3-1.2-0.6 -0.5-0.3-1-0.5-1.2-0.7 -0.3-0.2-0.5-0.5-0.7-0.8 -0.2-0.3-0.2-0.7-0.2-1.1 0-0.8 0.3-1.4 0.8-1.9 0.5-0.5 1.3-0.7 2.2-0.7 0.5 0 0.9 0.1 1.3 0.2 0.4 0.1 0.9 0.3 1.3 0.5l-0.6 1.5c-0.5-0.2-0.9-0.3-1.2-0.4 -0.3-0.1-0.6-0.1-0.9-0.1 -0.4 0-0.6 0.1-0.8 0.3 -0.2 0.2-0.3 0.4-0.3 0.7 0 0.2 0 0.3 0.1 0.4s0.2 0.2 0.4 0.4 0.6 0.3 1.2 0.6c0.8 0.4 1.4 0.8 1.7 1.2C98.3 35.8 98.5 36.3 98.5 36.9zM106.3 33.2c0 1-0.3 1.7-0.9 2.2 -0.6 0.5-1.5 0.8-2.6 0.8H102v3.2h-1.9v-8.9h2.9c1.1 0 1.9 0.2 2.5 0.7C106 31.6 106.3 32.3 106.3 33.2zM102 34.7h0.6c0.6 0 1-0.1 1.3-0.3 0.3-0.2 0.4-0.6 0.4-1 0-0.4-0.1-0.8-0.4-1 -0.2-0.2-0.6-0.3-1.1-0.3H102V34.7zM113.4 39.4l-0.6-2.1h-3.3l-0.6 2.1h-2l3.2-9h2.3l3.2 9H113.4zM112.3 35.7c-0.6-1.9-0.9-3-1-3.3 -0.1-0.3-0.1-0.5-0.2-0.6 -0.1 0.5-0.5 1.8-1.2 3.9H112.3z")
					div.header__icon-menu
						span.header__bar-icon-top
						span.header__bar-icon-middle
						span.header__bar-icon-bottom
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item
							a.main-nav__link(href="#")
								svg.main-nav__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 50 37.2" xml:space="preserve" enable-background="new 0 0 50 37.2")
									g(id="XMLID_650_")
										g(id="XMLID_194_")
											g(id="XMLID_195_")
												path(id="XMLID_209_" d="M7.3 8.2c0.2 0 0.4-0.1 0.6-0.2 0.2-0.2 0.2-0.4 0.2-0.6S8.1 6.9 7.9 6.7C7.7 6.5 7.5 6.5 7.3 6.5c-0.2 0-0.4 0.1-0.6 0.2C6.5 6.9 6.5 7.1 6.5 7.3s0.1 0.4 0.2 0.6C6.9 8.1 7.1 8.2 7.3 8.2zM19.1 8.2c0.2 0 0.4-0.1 0.6-0.2C19.9 7.7 20 7.5 20 7.3s-0.1-0.4-0.2-0.6c-0.2-0.2-0.4-0.2-0.6-0.2 -0.2 0-0.4 0.1-0.6 0.2 -0.2 0.2-0.2 0.4-0.2 0.6s0.1 0.4 0.2 0.6C18.7 8.1 18.9 8.2 19.1 8.2zM42.7 8.2c0.2 0 0.4-0.1 0.6-0.2 0.2-0.2 0.2-0.4 0.2-0.6s-0.1-0.4-0.2-0.6c-0.2-0.2-0.4-0.2-0.6-0.2 -0.2 0-0.4 0.1-0.6 0.2 -0.2 0.2-0.2 0.4-0.2 0.6 0 0.2 0.1 0.4 0.2 0.6C42.3 8.1 42.5 8.2 42.7 8.2zM30.9 8.2c0.2 0 0.4-0.1 0.6-0.2 0.2-0.2 0.2-0.4 0.2-0.6s-0.1-0.4-0.2-0.6c-0.2-0.2-0.4-0.2-0.6-0.2 -0.2 0-0.4 0.1-0.6 0.2C30.1 6.9 30 7.1 30 7.3c0 0.2 0.1 0.4 0.2 0.6C30.5 8.1 30.7 8.2 30.9 8.2zM46.4 0H3.6C1.6 0 0 1.6 0 3.6v26.3c0 0.5 0.4 0.9 0.9 0.9h1.9v5.6c0 0.5 0.4 0.9 0.9 0.9h3.8c0.5 0 0.9-0.4 0.9-0.9v-2h33.5v2c0 0.5 0.4 0.9 0.9 0.9h3.8c0.5 0 0.9-0.4 0.9-0.9v-5.6h1.9c0.5 0 0.9-0.4 0.9-0.9V3.6C50 1.6 48.4 0 46.4 0zM1.7 3.6c0-1.1 0.9-1.9 1.9-1.9h42.8c1.1 0 1.9 0.9 1.9 1.9v16.6h-1.2v-1.1c0-1.1-0.9-2-2-2h-1.3c1.1-0.6 2.1-1.3 3-2.2 0.3-0.3 0.3-0.9 0-1.2 -5.2-5.2-13.6-5.2-18.8 0 -0.3 0.3-0.3 0.9 0 1.2 0.9 0.9 1.9 1.7 3 2.2H18.9c1.1-0.6 2.1-1.4 3-2.2 0.3-0.3 0.3-0.9 0-1.2 -2.5-2.5-5.8-3.9-9.4-3.9s-6.9 1.4-9.4 3.9c-0.3 0.3-0.3 0.9 0 1.2 0.9 0.9 1.9 1.7 3 2.2H4.8c-1.1 0-2 0.9-2 2v1.1H1.7L1.7 3.6 1.7 3.6zM45.4 20.2H4.6v-1.1c0-0.1 0.1-0.3 0.3-0.3h40.3c0.1 0 0.3 0.1 0.3 0.3L45.4 20.2 45.4 20.2zM29.9 14.3c4.3-3.7 10.8-3.7 15.1 0C40.7 18.1 34.2 18.1 29.9 14.3zM12.5 17.1c-2.8 0-5.4-1-7.5-2.8 2.1-1.8 4.7-2.8 7.5-2.8 2.8 0 5.4 1 7.5 2.8C18 16.1 15.3 17.1 12.5 17.1zM6.6 35.5H4.5v-4.8h2.1L6.6 35.5 6.6 35.5zM8.3 32.7v-1.9h33.5v1.9H8.3L8.3 32.7zM45.5 35.5h-2.1v-4.8h2.1V35.5zM48.3 29.1H1.7v-7.2h46.6V29.1z")
								|rooms
						li.main-nav__item
							a.main-nav__link(href="#")
								svg.main-nav__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 50 26.6" xml:space="preserve" enable-background="new 0 0 50 26.6")
									g(id="XMLID_499_")
										g(id="XMLID_137_")
											g(id="XMLID_138_")
												path(id="XMLID_142_" d="M35.8 9.9c2.5-0.2 4.4-2.4 4.2-5 -0.2-2.5-2.4-4.4-5-4.2 -2.5 0.2-4.4 2.4-4.2 5C31 8.2 33.3 10.1 35.8 9.9zM8.1 7.5l8.4-3.1 5 2.3L11 11.4c0.4 0.2 0.9 0.4 1.3 0.7 2.4-1.8 6-1.8 8.5 0 2.4-1.8 6-1.8 8.5 0 0.6-0.5 1-1 1.3-1.7 0.4-1 0.4-2.2-0.1-3.2 -0.3-0.7-1.1-1.5-2.5-2.1 -1.5-0.7-10.4-4.9-10.4-4.9C17 0 16.4-0.1 15.9 0.1L6.7 3.6C5.6 4 5 5.2 5.4 6.2 5.8 7.3 7 7.9 8.1 7.5zM49.5 14.6c-0.6-0.7-1.7-0.6-2.4 0 -0.5 0.5-1.4 0.5-1.9 0 -1.8-1.8-4.8-1.8-6.6 0 -0.5 0.5-1.4 0.5-1.9 0 -1.8-1.8-4.8-1.8-6.6 0 -0.5 0.5-1.4 0.5-1.9 0l-0.1-0.1c-1.8-1.7-4.8-1.6-6.5 0.1 -0.5 0.5-1.4 0.5-1.9 0 -1.7-1.7-4.9-1.7-6.6 0 -0.5 0.5-1.4 0.5-1.9 0 -1.8-1.8-4.8-1.8-6.6 0 -0.5 0.5-1.4 0.5-1.9 0 -0.6-0.6-1.7-0.6-2.4 0 -0.6 0.6-0.6 1.7 0 2.3 1.8 1.8 4.8 1.8 6.6 0 0.5-0.5 1.4-0.5 1.9 0 1.8 1.8 4.8 1.8 6.6 0 0.5-0.5 1.4-0.5 1.9 0 0.9 0.9 2.1 1.4 3.3 1.4 1.2 0 2.4-0.5 3.3-1.4 0.5-0.5 1.4-0.5 1.9 0L26 17c1.8 1.7 4.8 1.6 6.5-0.1 0.5-0.5 1.4-0.5 1.9 0 1.8 1.8 4.8 1.8 6.6 0 0.5-0.5 1.4-0.5 1.9 0 1.8 1.8 4.8 1.8 6.6 0C50.2 16.3 50.2 15.2 49.5 14.6zM38.9 22.7l-0.2 0.2c-0.5 0.5-1.4 0.5-1.9 0 -1.8-1.8-4.8-1.8-6.6 0 -0.5 0.5-1.4 0.5-1.9 0l-0.1-0.1c-1.8-1.7-4.8-1.6-6.5 0.1 -0.5 0.5-1.4 0.5-1.9 0 -1.7-1.8-4.8-1.8-6.6 0 -0.5 0.5-1.4 0.5-1.9 0 -0.6-0.6-1.7-0.7-2.3 0 -0.7 0.6-0.7 1.7 0 2.3 1.7 1.8 4.8 1.8 6.6 0 0.5-0.5 1.4-0.5 1.9 0 0.9 0.9 2.1 1.4 3.3 1.4 1.2 0 2.4-0.5 3.3-1.4 0.5-0.5 1.4-0.5 1.9 0l0.1 0.1c1.8 1.7 4.8 1.6 6.5-0.1 0.5-0.5 1.4-0.5 1.9 0 1.7 1.7 4.8 1.7 6.6 0 0.6-0.6 0.7-1.5 0.2-2.2C40.6 22.3 39.6 22.2 38.9 22.7z")
								|activities
						li.main-nav__item
							a.main-nav__link(href="#")
								svg.main-nav__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 33.2 33.3" xml:space="preserve" enable-background="new 0 0 33.2 33.3")
									g(id="XMLID_563_")
										g(id="XMLID_241_")
											g(id="XMLID_254_")
												g(id="XMLID_255_")
													path(id="XMLID_256_" d="M9.1 2.1C8.1 0.7 6.8 0 5.3 0 3.8 0 2.5 0.7 1.5 2.1 0.5 3.4 0 5 0 6.8c0 1.8 0.5 3.5 1.5 4.7 0.6 0.7 1.2 1.3 2 1.7L2.3 30.1c-0.1 0.8 0.2 1.6 0.8 2.2 0.6 0.6 1.4 0.9 2.2 0.9 0.8 0 1.6-0.3 2.2-0.9 0.6-0.6 0.9-1.4 0.8-2.2L7.2 13.2c0.7-0.3 1.4-0.9 2-1.7 1-1.3 1.5-3 1.5-4.7S10.1 3.4 9.1 2.1zM6.4 31.3c-0.3 0.3-0.7 0.5-1.1 0.5 -0.4 0-0.8-0.2-1.1-0.5C4 31 3.8 30.6 3.8 30.2L5 13.6c0.1 0 0.2 0 0.4 0 0.1 0 0.2 0 0.4 0l1.1 16.6C6.8 30.6 6.7 31 6.4 31.3zM5.3 12.1c-0.3 0-0.5 0-0.8-0.1 0 0 0 0-0.1 0 -1.7-0.5-2.9-2.7-2.9-5.2 0-2.9 1.7-5.3 3.8-5.3 2.1 0 3.8 2.4 3.8 5.3S7.4 12.1 5.3 12.1z")
											g(id="XMLID_248_")
												g(id="XMLID_249_")
													path(id="XMLID_250_" d="M33.2 19.9v-19l0 0c0-0.2 0-0.3-0.1-0.5C32.9 0 32.4-0.1 32 0.1c-3.1 1.9-5 5.3-5 8.9 0 0 0 0 0 0v10c0 0.9 0.7 1.6 1.6 1.6V31c0 1.3 1 2.3 2.3 2.3 1.3 0 2.3-1 2.3-2.3L33.2 19.9C33.2 19.9 33.2 19.9 33.2 19.9zM28.7 19.1C28.6 19.1 28.6 19.1 28.7 19.1L28.6 9l0 0c0-2.6 1.1-5.1 3.1-6.8v16.9H28.7zM31.7 31c0 0.4-0.3 0.8-0.8 0.8 -0.4 0-0.8-0.3-0.8-0.8V20.7h1.5L31.7 31 31.7 31z")
											g(id="XMLID_242_")
												g(id="XMLID_243_")
													path(id="XMLID_244_" d="M21.6 0c-0.4 0-0.8 0.3-0.8 0.8v8.7h-1.9V0.8c0-0.4-0.3-0.8-0.8-0.8 -0.4 0-0.8 0.3-0.8 0.8v8.7h-1.9V0.8c0-0.4-0.3-0.8-0.8-0.8s-0.8 0.3-0.8 0.8v11.1c0 1.2 1 2.3 2.3 2.3h0.1l-1.1 16.1c-0.1 0.8 0.2 1.6 0.8 2.2 0.6 0.6 1.3 0.9 2.1 0.9 0.8 0 1.6-0.3 2.1-0.9 0.6-0.6 0.8-1.4 0.8-2.2L20 14.1h0.1c1.2 0 2.3-1 2.3-2.3V0.8C22.4 0.3 22 0 21.6 0zM19.1 31.3c-0.3 0.3-0.6 0.4-1 0.4s-0.8-0.2-1-0.4c-0.3-0.3-0.4-0.7-0.4-1l1.1-16.2h0.6l1.1 16.2C19.5 30.7 19.4 31.1 19.1 31.3zM20.8 11.8c0 0.4-0.3 0.7-0.7 0.7h-3c0 0 0 0 0 0h-0.9c-0.4 0-0.7-0.3-0.7-0.7V11h5.4V11.8z")
								|dining
						li.main-nav__item
							a.main-nav__link(href="#")
								svg.main-nav__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 33.2 33.3" xml:space="preserve" enable-background="new 0 0 33.2 33.3")
									g(id="XMLID_156_")
										g(id="XMLID_205_")
											g(id="XMLID_206_")
												g(id="XMLID_207_")
													g(id="XMLID_208_")
														path(id="XMLID_210_" d="M26.5 20.5C26.5 20.5 26.5 20.5 26.5 20.5c0.8-0.8 1.2-1.7 1.2-2.7v-1.9c0-1.9-1.6-3.5-3.5-3.5h-2c-1.1 0-2 0.9-2 2v3.3c0 1 0.4 1.8 1 2.5 -0.5 0.1-0.9 0.4-1.2 0.8l-2.5 2.5c0 0 0 0 0 0 -0.2 0.2-0.4 0.3-0.6 0.3s-0.5-0.1-0.6-0.3c0 0 0 0-0.1-0.1l-2.7-2.4c-0.4-0.4-0.9-0.6-1.4-0.7 0.3-0.7 0.5-1.5 0.5-2.3l0-1.6c0-1-0.4-1.9-1.1-2.6s-1.6-1.1-2.6-1.1H8.8c-2.1 0-3.7 1.7-3.7 3.7 0 1.7-0.8 3.3-2.1 4.4l-0.6 0.5C2 21.7 1.9 22.2 2 22.6c0.2 0.4 0.5 0.7 1 0.7h1.4c-0.1 0.2-0.2 0.5-0.3 0.8l-1.9 6.1c-0.2 0.8-0.1 1.6 0.4 2.2C3 32.9 3.5 33.2 4 33.2h8.7c0.5 0 1-0.3 1.4-0.7 0.5-0.6 0.6-1.5 0.4-2.2l-1.7-5.5c-0.1-0.4-0.5-0.6-0.9-0.5 -0.4 0.1-0.6 0.5-0.5 0.9l1.7 5.5c0.1 0.4 0 0.8-0.1 1 0 0.1-0.1 0.2-0.3 0.2H4c-0.1 0-0.2-0.1-0.3-0.2 -0.2-0.2-0.3-0.6-0.1-1l1.9-6.1c0.1-0.4 0.3-0.8 0.5-1.2h1.2c1.5 0 2.8-0.6 3.7-1.6h0.8c0.2 0 0.4 0.1 0.5 0.2 0 0 0 0 0.1 0.1l2.7 2.4c0.4 0.5 1 0.7 1.6 0.7 0.6 0 1.2-0.3 1.6-0.7l2.5-2.5c0 0 0 0 0 0 0.3-0.3 0.6-0.5 1-0.5H24h0H25c0.4 0 0.8 0.2 1 0.5s0.4 0.7 0.3 1.1L26 26.6l-1.9 1 -1.8-0.9L22 24.5c0-0.4-0.4-0.7-0.8-0.6 -0.4 0-0.7 0.4-0.6 0.8l0.9 7.4c0.1 0.7 0.7 1.2 1.4 1.2h2.5c0.7 0 1.3-0.5 1.4-1.2l1-8.7c0.1-0.8-0.1-1.6-0.7-2.2C26.9 20.9 26.7 20.7 26.5 20.5zM11.1 18.1c0 2.1-1.7 3.9-3.9 3.9H7.1c1-0.8 1.7-1.8 2.1-3 0.1-0.4-0.1-0.8-0.4-0.9 -0.4-0.1-0.8 0.1-0.9 0.4 -0.6 1.8-2.2 3.1-4 3.4 1.6-1.3 2.4-3.3 2.4-5.3 0-1.3 1.1-2.3 2.4-2.3h0.1c0.6 0 1.2 0.2 1.6 0.7 0.4 0.4 0.7 1 0.7 1.6L11.1 18.1zM26.3 17.8L26.3 17.8c0 0.6-0.2 1.2-0.7 1.7 -0.5 0.4-1 0.7-1.7 0.7 -1.3 0-2.3-1.1-2.3-2.4v-0.2c0.8 0.5 1.7 0.7 2.6 0.7 0.4 0 0.7-0.3 0.7-0.7s-0.3-0.7-0.7-0.7c-0.8 0-1.5-0.2-2.1-0.7 -0.3-0.2-0.5-0.6-0.5-1v-0.7c0-0.4 0.3-0.6 0.6-0.6h2c1.1 0 2.1 0.9 2.1 2.1L26.3 17.8 26.3 17.8zM25.4 31.8l-2.5 0 -0.4-3.5 1.3 0.7c0.2 0.1 0.4 0.1 0.6 0l1.4-0.7L25.4 31.8zM23.9 0c-1.6 0-3.2 0.4-4.6 1.2 -1.1 0.6-2 1.4-2.7 2.4 -0.7-1-1.7-1.8-2.7-2.4C12.5 0.4 10.9 0 9.3 0 4.2 0 0 4.2 0 9.3c0 2.1 0.8 4.1 2.2 5.7 0.1 0.2 0.3 0.2 0.5 0.2 0.2 0 0.3-0.1 0.5-0.2 0.3-0.3 0.3-0.7 0.1-1 -1.2-1.3-1.8-3-1.8-4.8 0-4.4 3.5-7.9 7.9-7.9 2.8 0 5.3 1.4 6.7 3.8 0.1 0.2 0.4 0.3 0.6 0.3 0.2 0 0.5-0.1 0.6-0.3 1.4-2.4 4-3.8 6.7-3.8 4.3 0 7.9 3.5 7.9 7.9 0 1.8-0.6 3.5-1.8 4.8 -0.3 0.3-0.2 0.7 0.1 1 0.3 0.3 0.7 0.2 1-0.1 1.4-1.6 2.2-3.6 2.2-5.7C33.2 4.2 29 0 23.9 0z")
								|events
						li.main-nav__item
							a.main-nav__link.button__colorful(href="#")
								svg.main-nav__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 33.2 28.9" xml:space="preserve" enable-background="new 0 0 33.2 28.9")
									g(id="XMLID_537_")
										g(id="XMLID_169_")
											g(id="XMLID_170_")
												path(id="XMLID_171_" d="M30.5 2.7C28.8 1 26.5 0 24 0s-4.8 1-6.5 2.7l-0.9 0.9 -0.9-0.9C14 1 11.6 0 9.2 0 6.7 0 4.4 1 2.7 2.7 1 4.4 0 6.7 0 9.2c0 2.5 1 4.8 2.7 6.5l13.2 13.2c0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l13.2-13.2c1.7-1.7 2.7-4 2.7-6.5C33.2 6.8 32.3 4.4 30.5 2.7zM29.2 14.4L16.6 26.9 4 14.4C2.7 13 1.9 11.1 1.9 9.2S2.7 5.4 4 4c1.4-1.4 3.2-2.1 5.1-2.1 1.9 0 3.8 0.8 5.2 2.1l1.6 1.6c0.4 0.4 1 0.4 1.3 0l1.6-1.6c1.4-1.4 3.2-2.1 5.2-2.1s3.8 0.8 5.2 2.1c1.4 1.4 2.1 3.2 2.1 5.2C31.3 11.2 30.5 13 29.2 14.4z")
								|book
		div.book
			div.book__container
				div.book__header
					h2.book__header-title Book your room
					svg.book__header-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24")
						path(d="M19 4q0.43 0 0.715 0.285t0.285 0.715q0 0.422-0.289 0.711l-6.297 6.289 6.297 6.289q0.289 0.289 0.289 0.711 0 0.43-0.285 0.715t-0.715 0.285q-0.422 0-0.711-0.289l-6.289-6.297-6.289 6.297q-0.289 0.289-0.711 0.289-0.43 0-0.715-0.285t-0.285-0.715q0-0.422 0.289-0.711l6.297-6.289-6.297-6.289q-0.289-0.289-0.289-0.711 0-0.43 0.285-0.715t0.715-0.285q0.422 0 0.711 0.289l6.289 6.297 6.289-6.297q0.289-0.289 0.711-0.289z")
				div.book__form-container
					form.book__form
						div
							label.book__form-label(for="check-in") check-in
							input.book__form-input(type="text" name="check-in" placeholder="DD / MM / YYYY" id="check-in")
						div
							label.book__form-label(for="check-out") check-out
							input.book__form-input(type="text" name="check-out" placeholder="DD / MM / YYYY" id="check-out")
						div
							label.book__form-label(for="adults") adults
							input.book__form-input(type="number" name="adults" placeholder="0" id="adults")
						div
							label.book__form-label(for="children") children
							input.book__form-input(type="number" name="children" placeholder="0" id="children")
					div.book__button-container
						a.button__colorful(href="#") book now
					div.book__calendar-one
						div.book__calendar-point
						div.book__calendar-month-container
							p.book__calendar-month February <span class="book__calendar-month-year">2017</span>
						div.book__calendar-week-container
							span.book__calendar-day Sun
							span.book__calendar-day Mon
							span.book__calendar-day Tue
							span.book__calendar-day Wed
							span.book__calendar-day Thu
							span.book__calendar-day Fri
							span.book__calendar-day Sat
						div.book__calendar-days-container
							span.book__calendar-day.book__calendar-day-style 29
							span.book__calendar-day.book__calendar-day-style 30
							span.book__calendar-day.book__calendar-day-style 31
							span.book__calendar-day 1
							span.book__calendar-day 2
							span.book__calendar-day 3
							span.book__calendar-day 4
						div.book__calendar-days-container
							span.book__calendar-day 5
							span.book__calendar-day 6
							span.book__calendar-day 7
							span.book__calendar-day 8
							span.book__calendar-day 9
							span.book__calendar-day 10
							span.book__calendar-day 11
						div.book__calendar-days-container
							span.book__calendar-day 12
							span.book__calendar-day 13
							span.book__calendar-day 14
							span.book__calendar-day 15
							span.book__calendar-day 16
							span.book__calendar-day 17
							span.book__calendar-day 18
						div.book__calendar-days-container
							span.book__calendar-day 19
							span.book__calendar-day 20
							span.book__calendar-day 21
							span.book__calendar-day 22
							span.book__calendar-day 23
							span.book__calendar-day 24
							span.book__calendar-day 25
						div.book__calendar-days-container
							span.book__calendar-day 26
							span.book__calendar-day 27
							span.book__calendar-day 28
							span.book__calendar-day.book__calendar-day-style 1
							span.book__calendar-day.book__calendar-day-style 2
							span.book__calendar-day.book__calendar-day-style 3
							span.book__calendar-day.book__calendar-day-style 4
					div.book__calendar-two
						div.book__calendar-point
						div.book__calendar-month-container
							p.book__calendar-month February <span class="book__calendar-month-year">2017</span>
						div.book__calendar-week-container
							span.book__calendar-day Sun
							span.book__calendar-day Mon
							span.book__calendar-day Tue
							span.book__calendar-day Wed
							span.book__calendar-day Thu
							span.book__calendar-day Fri
							span.book__calendar-day Sat
						div.book__calendar-days-container
							span.book__calendar-day.book__calendar-day-style 29
							span.book__calendar-day.book__calendar-day-style 30
							span.book__calendar-day.book__calendar-day-style 31
							span.book__calendar-day 1
							span.book__calendar-day 2
							span.book__calendar-day 3
							span.book__calendar-day 4
						div.book__calendar-days-container
							span.book__calendar-day 5
							span.book__calendar-day 6
							span.book__calendar-day 7
							span.book__calendar-day 8
							span.book__calendar-day 9
							span.book__calendar-day 10
							span.book__calendar-day 11
						div.book__calendar-days-container
							span.book__calendar-day 12
							span.book__calendar-day 13
							span.book__calendar-day 14
							span.book__calendar-day 15
							span.book__calendar-day 16
							span.book__calendar-day 17
							span.book__calendar-day 18
						div.book__calendar-days-container
							span.book__calendar-day 19
							span.book__calendar-day 20
							span.book__calendar-day 21
							span.book__calendar-day 22
							span.book__calendar-day 23
							span.book__calendar-day 24
							span.book__calendar-day 25
						div.book__calendar-days-container
							span.book__calendar-day 26
							span.book__calendar-day 27
							span.book__calendar-day 28
							span.book__calendar-day.book__calendar-day-style 1
							span.book__calendar-day.book__calendar-day-style 2
							span.book__calendar-day.book__calendar-day-style 3
							span.book__calendar-day.book__calendar-day-style 4
		main.main
			section.landing
				div.landing__container
					div.landing__copy-content
						h1.landing__title welcome to a scenic destination
						a.button__colorful(href="#") book now
					div.landing__book-container
						div.landing__book-options
							div.landing__book-opt
								form.landing__book-form
									div
										label.landing__form-label(for="landing-check-in") Check-In
										input.landing__form-input(type="text" name="landing-check-in" placeholder="DD / MM / YYYY" id="landing-check-in")
							div.landing__book-opt
								form.landing__book-form
									div
										label.landing__form-label(for="landing-check-out") Check-Out
										input.landing__form-input(type="text" name="landing-check-out" placeholder="DD / MM / YYYY" id="landing-check-out")
							div.landing__book-opt
								form.landing__book-form
									div
										label.landing__form-label(for="people") People
										input.landing__form-input(type="text" name="people" placeholder="1 Guest" id="people")
							div.landing__book-opt
								a.button__colorful(href="#") book now
						div.landing__calendar-one
							div.landing__calendar-point
							div.landing__calendar-month-container
								p.landing__calendar-month April <span class="landing__calendar-month-year">2017</span>
							div.landing__calendar-week-container
								span.landing__calendar-day Sun
								span.landing__calendar-day Mon
								span.landing__calendar-day Tue
								span.landing__calendar-day Wed
								span.landing__calendar-day Thu
								span.landing__calendar-day Fri
								span.landing__calendar-day Sat
							div.landing__calendar-days-container
								span.landing__calendar-day.landing__calendar-day-style 29
								span.landing__calendar-day.landing__calendar-day-style 30
								span.landing__calendar-day.landing__calendar-day-style 31
								span.landing__calendar-day 1
								span.landing__calendar-day 2
								span.landing__calendar-day 3
								span.landing__calendar-day 4
							div.landing__calendar-days-container
								span.landing__calendar-day 5
								span.landing__calendar-day 6
								span.landing__calendar-day 7
								span.landing__calendar-day 8
								span.landing__calendar-day 9
								span.landing__calendar-day 10
								span.landing__calendar-day 11
							div.landing__calendar-days-container
								span.landing__calendar-day 12
								span.landing__calendar-day 13
								span.landing__calendar-day 14
								span.landing__calendar-day 15
								span.landing__calendar-day 16
								span.landing__calendar-day 17
								span.landing__calendar-day 18
							div.landing__calendar-days-container
								span.landing__calendar-day 19
								span.landing__calendar-day 20
								span.landing__calendar-day 21
								span.landing__calendar-day 22
								span.landing__calendar-day 23
								span.landing__calendar-day 24
								span.landing__calendar-day 25
							div.landing__calendar-days-container
								span.landing__calendar-day 26
								span.landing__calendar-day 27
								span.landing__calendar-day 28
								span.landing__calendar-day.landing__calendar-day-style 1
								span.landing__calendar-day.landing__calendar-day-style 2
								span.landing__calendar-day.landing__calendar-day-style 3
								span.landing__calendar-day.landing__calendar-day-style 4
						div.landing__calendar-two
							div.landing__calendar-point
							div.landing__calendar-month-container
								p.landing__calendar-month April <span class="landing__calendar-month-year">2017</span>
							div.landing__calendar-week-container
								span.landing__calendar-day Sun
								span.landing__calendar-day Mon
								span.landing__calendar-day Tue
								span.landing__calendar-day Wed
								span.landing__calendar-day Thu
								span.landing__calendar-day Fri
								span.landing__calendar-day Sat
							div.landing__calendar-days-container
								span.landing__calendar-day.landing__calendar-day-style 29
								span.landing__calendar-day.landing__calendar-day-style 30
								span.landing__calendar-day.landing__calendar-day-style 31
								span.landing__calendar-day 1
								span.landing__calendar-day 2
								span.landing__calendar-day 3
								span.landing__calendar-day 4
							div.landing__calendar-days-container
								span.landing__calendar-day 5
								span.landing__calendar-day 6
								span.landing__calendar-day 7
								span.landing__calendar-day 8
								span.landing__calendar-day 9
								span.landing__calendar-day 10
								span.landing__calendar-day 11
							div.landing__calendar-days-container
								span.landing__calendar-day 12
								span.landing__calendar-day 13
								span.landing__calendar-day 14
								span.landing__calendar-day 15
								span.landing__calendar-day 16
								span.landing__calendar-day 17
								span.landing__calendar-day 18
							div.landing__calendar-days-container
								span.landing__calendar-day 19
								span.landing__calendar-day 20
								span.landing__calendar-day 21
								span.landing__calendar-day 22
								span.landing__calendar-day 23
								span.landing__calendar-day 24
								span.landing__calendar-day 25
							div.landing__calendar-days-container
								span.landing__calendar-day 26
								span.landing__calendar-day 27
								span.landing__calendar-day 28
								span.landing__calendar-day.landing__calendar-day-style 1
								span.landing__calendar-day.landing__calendar-day-style 2
								span.landing__calendar-day.landing__calendar-day-style 3
								span.landing__calendar-day.landing__calendar-day-style 4
						div.landing__people-container
							form.landing__people-form
								div
									label.landing__people-label(for="adults") Adults
									input.landing__people-input(type="number" id="adults" name="adults" placeholder="0")
								div
									label.landing__people-label(for="children") Children
									input.landing__people-input(type="number" id="children" name="children" placeholder="0")
			section.why
				div.why__container
					div.why__elements-container
						figure.why__img-container
							img.why__img(src="./images/why-rosarito.jpg" alt="rosarito-beach-hotel")
						div.why__copy-container
							header.why__copy-header
								h2.why__copy-header-title rosarito beach hotel & spa
								h3.why__copy-header-subtitle Why Rosarito Beach?
							p.why__copy-text
								|Rosarito Beach presents a rare and wonderful opportunity to visit a foreign country rich in culture and heritage.
							a.button__line(href="#") meet about us
			section.experience
				div.experience__container
					div.experience__copy-container
						header.experience__header
							h2.experience__title unique experience
						p.experience__text
							|Few places anywhere in the world offer the recreational opportunities of Baja's Gold Coast, the 60 scenic miles that stretch from just south of San Diego to Ensenada.
						a.button__line(href="#") discover
			section.room
				div.room__container
					header.room__header
						h2.room__header-title suites & rooms
						h3.room__header-subtitle Choose where you want to stay
					div.room__items-container
						article.room__item
							figure.room__item-img-container
								img.room__item-img(src="./images/room1.jpg" alt="coronado-tower-rooms")
							div.room__item-copy-container
								h4.room__item-title coronado tower rooms
								h5.room__item-subtitle relax and luxury
								p.room__item-text
									|With beautiful décor, breathtaking views and simple elegance, each suite offers panoramic views of the coastline and the blue Pacific, including the stark yet beautiful Coronado Islands just 8.5 miles away.
								h5.room__item-subtitle room features
								p.room__item-text
									|Cable TV, Balcony, Shower & Bath. No A/C.
								a.button__outline(href="#") see more
						article.room__item
							figure.room__item-img-container
								img.room__item-img(src="./images/room2.jpg" alt="coronado-tower-rooms")
							div.room__item-copy-container
								h4.room__item-title playas tower rooms
								h5.room__item-subtitle perfect for families
								p.room__item-text
									|It fronts the beach and is adjacent to the ¼ mile sports-fishing pier. It offers great vistas to watch people frolic in the surf and horseback riders by on the beach, so close, you'll be tempted to join them.
								h5.room__item-subtitle room features
								p.room__item-text
									|Cable TV, Balcony, Phone, Small Refrigerator,Tables & Chairs, Shower & Bath. No A/C. 
								a.button__outline(href="#") see more
						article.room__item
							figure.room__item-img-container
								img.room__item-img(src="./images/room3.jpg" alt="coronado-tower-rooms")
							div.room__item-copy-container
								h4.room__item-title pacifico tower rooms
								h5.room__item-subtitle luxury and modern mexican decor
								p.room__item-text
									|With a range of suite options from a studio to a 3-bedroom, 3-bath penthouse suite. Suites have panoramic ocean views and exquisite furnishings, a Spanish colonial/mission style and dynamic.
								h5.room__item-subtitle room features
								p.room__item-text
									|Living room, Kitchen, King size bed, Phone Cable TV, Balcony, Dining rooms & full bathrooms with A/C. 
								a.button__outline(href="#") see more
			section.activities
				div.activities__container
					header.activities__header
						h2.activities__header-title activities
						h3.activities__header-subtitle Enjoy our activities just for you
					div.activities__copy-container
						p.activities__copy
							|When you stay at the Rosarito Beach Hotel, much of it is right at your doorstep,Surf our waves where the Mexican national championships were held (we even offer lessons), or fish from our quarter-mile wooden pier.
						p.activities__copy
							|Ride ATVs or horses on the beach and golf at curses to the north or south.
					div.activities__item-container
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/kids-club.jpg" alt="kids-club")
							div.activities__item-copy-container
								h4.activities__item-copy-title kids club
								p.activities__item-copy
									|We've created the Rosarito Beach Hotel Kids Club to provide free activities for our younger guests during summer and holidays.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/spa.jpg" alt="spa")
							div.activities__item-copy-container
								h4.activities__item-copy-title spa
								p.activities__item-copy
									|Swedish massage, aromatherapy, hydrotherapy and hot stones; and at much lower prices than less luxurious spas to the north.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/art-gallery.jpg" alt="art-gallery")
							div.activities__item-copy-container
								h4.activities__item-copy-title art galleries
								p.activities__item-copy
									|Great art is everywhere and going gallery hopping is becoming one the most popular things for people to do in Rosarito.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/special-tours.jpg" alt="special-tours")
							div.activities__item-copy-container
								h4.activities__item-copy-title special tours
								p.activities__item-copy
									|We're offering  tours to help you see the wonders of Baja.  From the wine country, to fishing, to the great golf of Mexico.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/whale-watching.jpg" alt="whale-watching")
							div.activities__item-copy-container
								h4.activities__item-copy-title whale watching
								p.activities__item-copy
									|The great annual grey whale migration is one of the most extraordinary migrations on the planet.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/wine-tasting.jpg" alt="wine-tasting")
							div.activities__item-copy-container
								h4.activities__item-copy-title wine tasting
								p.activities__item-copy
									|Baja California Wine Country is blessed with some of the most ideal Mediterranean climate for grape growing.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/baja-golf.jpg" alt="baja-golf")
							div.activities__item-copy-container
								h4.activities__item-copy-title baja's golf
								p.activities__item-copy
									|You can play canyon-style golf throughout rolling hills all the while enjoying the natural beauty of the Pacific Ocean.
								a.button__outline(href="#") see more
							div.activities__item-color-block
						article.activities__item
							figure.activities__item-img-container
								img.activities__item-img(src="./images/surfing-lessons.jpg" alt="surfing-lessons")
							div.activities__item-copy-container
								h4.activities__item-copy-title surfing lessons
								p.activities__item-copy
									|Surf's Up! Look at a map of the Pacific Ocean and you will see that the peninsula of Baja California is a unique piece of geography.
								a.button__outline(href="#") see more
							div.activities__item-color-block
			section.event
				div.event__container
					header.event__header
						h2.event__header-title events
						h3.event__header-subtitle Perfect packages for your events
					p.event__copy
						|Whether you're arranging a one-day meeting for 10 people or a three-day convention for 1,000
					div.event__items-container
						article.event__item
							figure.event__item-img-container
								img.event__item-img(src="./images/wedding.jpg" alt="wedding")
							div.event__item-copy-container
								h4.event__item-title weddings
								p.event__item-text
									|Welcome to the warmth of the Rosarito Beach Hotel & Resort. Celebrate your new life with a dream wedding by the sea. Our experienced wedding coordinator will make sure your special day reflects your personal style. 
								a.button__outline(href="#") see more
						article.event__item
							figure.event__item-img-container
								img.event__item-img(src="./images/meeting-room.jpg" alt="meeting-room")
							div.event__item-copy-container
								h4.event__item-title meeting rooms
								p.event__item-text
									|With more than 500 rooms and suites, numerous meeting facilities and extensive dining options, we'll assemble the perfect package for your event, and assign a professional planner to guide you through the process.
								a.button__outline(href="#") see more
			section.dining
				div.dining__container
					div.dining__copy-container
						figure.dining__img-container
							img.dining__img(src="./images/dining.jpg" alt="dining")
						div.dining__copy-container
							header.dining__header
								h2.dining__header-title dining & entertainment
							p.dining__text
								|Enjoy a delicious meal in the warm Old World setting of the Azteca, or sample a traditional Mexican buffet at a folkloric ballet show in the Salon Mexicano.
							a.button__line(href="#") meet the dining
			section.contact
				div.contact__container
					header.contact__header
						h2.contact__header-title contacts
					div.contact__items-container
						div.contact__item
							div.contact__element-container
								h3.contact__item-title location address
								p.contact__item-text Boulevard Benito Juarez # 31. Rosarito, Baja California México
							div.contact__element-container
								h3.contact__item-title USA mailing address
								p.contact__item-text P.O. Box 430145 San Diego, CA 92143-0145
							div.contact__element-container
								h3.contact__item-title For all other inquiries
								p.contact__item-text 011 [52] (661) 612-1111
						div.contact__item
							h3.contact__item-title Reservations only from the USA
							p.contact__item-text
								|1 866 ROSARITO (767 2748)
							p.contact__item-text
								|Monday to Friday from 8:30 am to 6:30 pm.
							p.contact__item-text
								|Weekends and holidays 9:00 am to 5:00 pm(PST).
						div.contact__item
							h3.contact__item-title Reservations only from the MEX
							p.contact__item-text
								|01 800 265 2322
							p.contact__item-text
								|Monday to Friday from 8:30 am to 6:30 pm.						
							p.contact__item-text
								|Weekends and holidays 9:00 am to 5:00 pm(PST).
			footer.footer
				div.footer__container
					div.footer__items-container
						article.footer__item
							h4.footer__item-title activities
							ul.footer__list
								li.footer__item: a.footer__link(href="#") Spa
								li.footer__item: a.footer__link(href="#") Art Galleries
								li.footer__item: a.footer__link(href="#") Kids Club
								li.footer__item: a.footer__link(href="#") Special Tours
								li.footer__item: a.footer__link(href="#") Whale Watching
								li.footer__item: a.footer__link(href="#") Wine Tasting
								li.footer__item: a.footer__link(href="#") Baja's Golf
								li.footer__item: a.footer__link(href="#") Surfing Lessons
						article.footer__item
							h4.footer__item-title about hotel
							ul.footer__list
								li.footer__item: a.footer__link(href="#") Location
								li.footer__item: a.footer__link(href="#") Rosarito Beach
								li.footer__item: a.footer__link(href="#") History
								li.footer__item: a.footer__link(href="#") Contacts
								li.footer__item: a.footer__link(href="#") Rooms
								li.footer__item: a.footer__link(href="#") Dining
								li.footer__item: a.footer__link(href="#") Weddings
								li.footer__item: a.footer__link(href="#") Meeting Rooms
						article.footer__item
							h4.footer__item-title useful links
							ul.footer__list
								li.footer__item: a.footer__link(href="#") Special Offers
								li.footer__item: a.footer__link(href="#") FAQ
								li.footer__item: a.footer__link(href="#") Hotel Gallery
								li.footer__item: a.footer__link(href="#") Newsletter
					div.footer__bottom-elements
						svg.footer__logo-container(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 155.6 39.5" xml:space="preserve" enable-background="new 0 0 155.6 39.5")
							g(id="XMLID_1055_")
								g(id="XMLID_53_")
									g(id="XMLID_318_")
										path.footer__logo-type-top(id="XMLID_349_" d="M4.3 7c0.1 0 0.2 0.1 0.2 0.2 0 0.1 0 0.1-0.1 0.2C3.7 8.2 2.7 8.6 1.7 8.6c-0.2 0-0.5-0.1-0.8-0.4C0.5 7.9 0.4 7.5 0.4 6.9c0-0.5 0.3-1.1 1-1.8C2 4.5 2.9 3.9 4.1 3.3s2.6-1.1 4.4-1.6C10.2 1.3 11.8 1 13.2 1c1.4 0 2.5 0.1 3.4 0.3 0.9 0.2 1.6 0.5 2.1 0.8 0.5 0.3 0.9 0.7 1.2 1.1 0.5 0.7 0.8 1.4 0.8 2.1S20.5 6.9 20 7.6c-0.5 0.8-1.1 1.4-1.8 2 -0.7 0.6-1.6 1.1-2.5 1.6 -1.8 0.9-3.7 1.6-5.7 2.1 0.3 0.4 1.1 1.2 2.2 2.7 1.1 1.4 2.1 2.6 3.1 3.6 0.9 1 1.6 1.4 2.1 1.4l0.5-0.2c0.1 0 0.2 0 0.2 0.1s-0.2 0.3-0.5 0.7c-0.4 0.4-0.7 0.7-0.9 0.9 -0.3 0.2-0.6 0.3-1.1 0.3s-1-0.2-1.5-0.6c-0.6-0.4-1.2-1-1.9-1.8 -0.7-0.8-1.3-1.5-1.8-2.2 -0.5-0.7-1.1-1.5-1.8-2.5 -0.7-0.9-1.2-1.6-1.4-1.9C7 14 6.8 14.3 6.4 14.9 6 15.6 5.7 16 5.5 16.3c-0.2 0.3-0.4 0.7-0.8 1.3 -0.3 0.6-0.6 1-0.8 1.3 -0.5 0.9-0.9 1.6-1.1 2 -0.2 0.4-0.5 0.7-1 0.7l-0.5 0 -0.4 0c-0.6 0-0.9-0.2-0.9-0.7 0-0.4 0.2-0.9 0.5-1.6 0.3-0.7 2-3.3 5.1-7.8s4.8-6.9 5.1-7.2c0.3-0.3 0.6-0.5 0.7-0.5 0.1-0.1 0.2-0.1 0.2-0.1l0.3 0 0.2 0c0.1 0 0.2 0 0.2 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.4 0.3 0.6 0.5 0.6 0.7 0 0.2-0.1 0.4-0.2 0.6 -0.1 0.2-0.4 0.6-0.8 1.3 -0.5 0.7-1 1.5-1.8 2.5 -0.7 1-1.3 1.8-1.6 2.3 0.8 0 1.7-0.3 2.8-0.7 1.1-0.4 2.1-1 3.1-1.6 1-0.6 1.8-1.3 2.5-2 0.7-0.7 1-1.4 1-1.9 0-0.3-0.1-0.5-0.4-0.8 -0.3-0.2-0.7-0.4-1.1-0.6 -0.9-0.3-1.9-0.4-3-0.4C12.5 3.3 11 3.5 9.3 4c-1.7 0.5-3 1-3.8 1.4C4.7 5.8 4.1 6.2 3.8 6.5 3.4 6.8 3.2 7.1 3.2 7.2c0 0.1 0.1 0.1 0.3 0.1 0.2 0 0.4-0.1 0.5-0.2C4.2 7 4.3 7 4.3 7zM27.4 10.8c0.3 0 0.6 0.1 0.9 0.4 0.3 0.3 0.5 0.7 0.5 1.2 0 0.5-0.2 1.2-0.6 2.1 -0.4 0.8-0.9 1.7-1.5 2.6 -0.7 0.9-1.4 1.7-2.1 2.5 -0.8 0.8-1.6 1.4-2.5 1.9 -0.9 0.5-1.7 0.7-2.5 0.7 -0.7 0-1.3-0.2-1.8-0.7S17 20.3 17 19.5s0.2-1.7 0.6-2.8c0.4-1 0.9-1.9 1.6-2.7 0.6-0.8 1.3-1.5 2.1-2.1 1.6-1.3 2.9-1.9 4.1-1.9 0.5 0 0.9 0.1 1.2 0.4 0.1 0.1 0.1 0.2 0.1 0.2v0.1C26.9 10.8 27.1 10.8 27.4 10.8zM25.9 12.7h-0.1c-0.3 0-0.5-0.2-0.5-0.7 -0.7 0.2-1.4 0.6-2.2 1.2 -0.8 0.6-1.5 1.3-2.1 2 -1.2 1.6-1.8 2.9-1.9 4 0 0.5 0.2 0.8 0.6 0.8 0.4 0 1-0.3 1.8-0.8 0.8-0.5 1.5-1.3 2.3-2.2 0.8-1 1.3-1.8 1.7-2.5 0.4-0.7 0.6-1.2 0.6-1.4C26.1 12.8 26 12.7 25.9 12.7zM30 18.9l0 0.2c0 0.2 0.1 0.4 0.3 0.6 0.2 0.2 0.3 0.3 0.5 0.3 1.1 0 2.2-0.2 3.1-0.5 0.9-0.3 1.3-0.7 1.3-1 0-0.2-0.2-0.3-0.5-0.4 -0.3-0.1-0.9-0.3-1.6-0.4 -0.8-0.2-1.3-0.3-1.7-0.4 -0.3-0.1-0.6-0.2-0.8-0.3 -0.2-0.1-0.4-0.2-0.6-0.4 -0.5-0.3-0.7-0.8-0.7-1.4 0-0.6 0.2-1.3 0.7-1.9 0.5-0.6 1-1.1 1.7-1.6 0.7-0.4 1.5-0.8 2.3-1.2 1.6-0.7 2.9-1 4-1 1.1 0 1.7 0.2 2 0.7 0.1 0.2 0.1 0.3 0.1 0.5v0.1c0 0.5-0.1 0.9-0.3 1.2 -0.2 0.3-0.6 0.5-1 0.8 -0.5 0.2-0.8 0.3-1.1 0.3 -0.3 0-0.4 0-0.5-0.1 -0.1 0-0.1-0.1-0.2-0.2 0-0.1-0.1-0.1-0.2-0.1 -0.1 0-0.1-0.1-0.1-0.2s0-0.2 0.1-0.4c0.1-0.1 0.2-0.2 0.2-0.4 -0.6 0-1.3 0.2-2 0.4s-1.3 0.6-1.8 0.9c-0.5 0.3-0.9 0.6-1.2 0.9 -0.3 0.3-0.5 0.5-0.5 0.7s0.2 0.3 0.7 0.3c2 0.4 3.3 0.7 3.9 1 0.6 0.3 1.1 0.6 1.3 1 0.2 0.4 0.4 0.7 0.4 1 0 0.6-0.2 1.2-0.7 1.7 -0.5 0.5-1.1 1-1.8 1.3 -1.5 0.8-2.9 1.1-4 1.1 -1.1 0-1.9-0.2-2.4-0.5 -0.4-0.3-0.7-0.8-0.7-1.2s0.1-0.9 0.4-1.3c0.2-0.4 0.6-0.6 0.9-0.6C29.8 18.6 30 18.7 30 18.9zM50.2 10.8c0.7 0 1.1 0.2 1.1 0.7 0 0.3-0.1 0.5-0.2 0.6 -0.1 0.1-0.4 0.5-0.8 1.2 -0.4 0.7-0.9 1.6-1.4 2.7 -0.5 1.1-0.8 2-1 2.8 0 0.1 0 0.2 0 0.4 0 0.5 0.1 0.8 0.4 0.8s0.6-0.1 1-0.4c0.4-0.3 0.7-0.6 1-0.9 0.3-0.3 0.6-0.6 0.9-1 0.3-0.3 0.5-0.5 0.5-0.6 0.1 0 0.1-0.1 0.3-0.1 0.2 0 0.3 0.1 0.3 0.4 0 0.3 0.1 0.6 0.1 0.9 0 0.3 0 0.5-0.1 0.6 -0.3 0.5-0.9 1.2-1.8 2 -0.9 0.8-1.8 1.1-2.6 1.1s-1.3-0.2-1.7-0.7c-0.4-0.5-0.5-1-0.5-1.6 0-0.6 0.1-1.1 0.3-1.5 -0.8 1-1.7 1.9-2.7 2.6 -1 0.7-1.9 1.1-2.5 1.1s-1.2-0.2-1.6-0.6c-0.5-0.5-0.8-1.2-0.8-2 0-0.9 0.2-1.7 0.6-2.6 0.4-0.9 0.9-1.7 1.5-2.4 0.6-0.7 1.3-1.4 2.1-2 1.6-1.2 3.1-1.9 4.4-1.9 0.5 0 0.9 0.1 1.3 0.3 0.3 0.2 0.5 0.4 0.6 0.6 0.2-0.3 0.4-0.6 0.6-0.7C49.6 10.9 49.9 10.8 50.2 10.8zM48.3 12.4c-1.6 0-3.3 0.9-5.1 2.7 -0.6 0.7-1.2 1.4-1.7 2.3 -0.5 0.9-0.8 1.5-0.8 1.9 0 0.3 0.1 0.5 0.3 0.5 0.3 0 1-0.5 2.2-1.6 1.2-1.1 2-1.8 2.4-2.3C46.1 15.4 47 14.2 48.3 12.4zM55.9 13.9c2.3-2.6 4.2-3.9 5.8-3.9 0.4 0 0.7 0.1 1 0.4 0.3 0.2 0.4 0.5 0.4 0.9 0 0.4-0.3 1-0.8 1.9 -0.5 0.9-1 1.6-1.5 2.2 -0.2 0.3-0.5 0.5-0.8 0.5 -0.3 0-0.5-0.1-0.7-0.3 -0.2-0.2-0.3-0.5-0.3-0.8 0-0.7 0.4-1.4 1.1-2.2l0 0c-0.3 0-1.1 0.7-2.4 1.9 -1.3 1.2-2.3 2.3-3.2 3.3 -0.9 1-1.8 2.1-2.9 3.5 -0.3 0.4-0.5 0.6-0.8 0.6 -0.2 0-0.5-0.1-0.8-0.2s-0.5-0.2-0.6-0.3c-0.1-0.1-0.1-0.2-0.1-0.3 0-0.1 0-0.3 0.1-0.5 0.1-0.2 0.2-0.4 0.4-0.8 0.2-0.3 0.5-0.9 0.9-1.6 0.4-0.7 1.1-1.8 1.9-3.3 0.9-1.5 1.4-2.4 1.6-2.7 0.4-0.6 0.7-1.1 0.9-1.4 0.4-0.5 1.2-0.8 2.2-0.8 0.2 0 0.3 0.1 0.3 0.4 0 0.5-0.4 1.3-1.3 2.5L55.9 13.9zM68.5 18.5c0 0.3 0 0.5-0.1 0.6 -0.5 1-1.2 1.7-2.2 2.3 -1 0.6-1.9 0.9-2.7 0.9 -0.8 0-1.4-0.3-2-0.8 -0.5-0.5-0.8-1-0.8-1.6s0.3-1.3 0.8-2.3c0.5-1 1.1-1.9 1.6-2.8 0.5-0.9 0.8-1.3 0.8-1.4s-0.1-0.2-0.3-0.4c-0.2-0.2-0.3-0.4-0.3-0.5s0.2-0.4 0.6-0.8c0.4-0.4 0.9-0.8 1.5-1.3 0.6-0.4 1-0.6 1.3-0.6 0.3 0 0.6 0.1 0.8 0.4 0.2 0.3 0.4 0.5 0.4 0.7 0 0.2-1.1 2.3-3.4 6.2 0 0.1-0.1 0.2-0.2 0.4 -0.1 0.2-0.2 0.4-0.3 0.5 -0.1 0.1-0.2 0.3-0.3 0.5 -0.2 0.4-0.3 0.7-0.3 1 0 0.3 0.2 0.5 0.7 0.5 0.4 0 0.9-0.2 1.4-0.5 0.5-0.3 0.9-0.6 1.2-1 0.9-1 1.4-1.5 1.5-1.5C68.4 17.2 68.5 17.7 68.5 18.5zM70.8 6c0 0.5-0.3 1.1-0.8 1.6 -0.5 0.6-1 0.8-1.6 0.8 -0.6 0-0.8-0.3-0.8-0.9s0.2-1.1 0.7-1.6c0.5-0.5 1-0.8 1.6-0.8 0.3 0 0.5 0.1 0.6 0.2C70.8 5.5 70.8 5.7 70.8 6zM77.3 3.2l0.6 0.1c0.1 0 0.2 0 0.2 0.1 0.1 0.1 0.1 0.2 0.1 0.2 0 0.1-0.1 0.3-0.3 0.6 -0.2 0.3-0.4 0.7-0.7 1.1 -0.3 0.4-0.4 0.7-0.4 0.7 0.7-0.1 1.3-0.1 1.6-0.1 0.3 0 0.5 0 0.6 0.1 0.1 0 0.2 0.2 0.4 0.4 0.1 0.2 0.3 0.3 0.4 0.4C80 7.1 80 7.2 80 7.4c0 0.2-0.1 0.4-0.4 0.5 -0.2 0.1-0.5 0.2-0.8 0.3 -2.2 0.2-3.5 0.3-3.7 0.3 -0.8 1.2-1.9 3-3.3 5.6 -1.4 2.5-2.1 4.1-2.2 4.7 0 0.3-0.1 0.5-0.1 0.7 0 0.4 0.2 0.6 0.6 0.6s0.8-0.2 1.3-0.5c0.5-0.3 0.9-0.6 1.3-1 1.1-1 1.6-1.4 1.7-1.4 0.2 0 0.4 0.4 0.4 1.3 0 0.5-0.2 0.9-0.6 1.3 -1 0.8-1.8 1.5-2.4 1.9 -0.7 0.4-1.3 0.6-2 0.6 -0.1 0-0.3 0-0.4 0 -0.8-0.1-1.3-0.4-1.7-0.8 -0.4-0.4-0.5-1-0.5-1.7 0-0.7 0.2-1.6 0.6-2.6 0.4-1 0.9-2.1 1.6-3.2 1-1.9 2.1-3.6 3.1-5.2L72 8.8c-1.1 0.1-1.8 0.2-1.9 0.2H70c-0.3 0-0.5-0.1-0.8-0.2 -0.3-0.1-0.4-0.2-0.4-0.4 0-0.2 0.1-0.3 0.2-0.5 0.1-0.2 0.2-0.3 0.3-0.4 0.1-0.2 0.3-0.4 0.8-0.7 0.4-0.3 0.8-0.4 1-0.4 0.2 0 0.4 0 0.6 0 0.2 0 0.4 0 0.7 0 0.3 0 0.4 0 0.6 0l1.3-0.1c0.8-1.2 1.4-2 1.7-2.3 0.3-0.3 0.5-0.5 0.5-0.6 0 0 0.1-0.1 0.3-0.1L77.3 3.2zM83.5 10.8c0.3 0 0.6 0.1 0.9 0.4 0.3 0.3 0.5 0.7 0.5 1.2 0 0.5-0.2 1.2-0.6 2.1 -0.4 0.8-0.9 1.7-1.5 2.6 -0.7 0.9-1.4 1.7-2.1 2.5 -0.8 0.8-1.6 1.4-2.5 1.9 -0.9 0.5-1.7 0.7-2.5 0.7 -0.7 0-1.3-0.2-1.8-0.7s-0.7-1.1-0.7-1.9 0.2-1.7 0.6-2.8c0.4-1 0.9-1.9 1.6-2.7 0.6-0.8 1.3-1.5 2.1-2.1 1.6-1.3 2.9-1.9 4.1-1.9 0.5 0 0.9 0.1 1.2 0.4 0.1 0.1 0.1 0.2 0.1 0.2v0.1C83 10.8 83.2 10.8 83.5 10.8zM82.1 12.7H82c-0.3 0-0.5-0.2-0.5-0.7 -0.7 0.2-1.4 0.6-2.2 1.2 -0.8 0.6-1.5 1.3-2.1 2 -1.2 1.6-1.8 2.9-1.9 4 0 0.5 0.2 0.8 0.6 0.8 0.4 0 1-0.3 1.8-0.8 0.8-0.5 1.5-1.3 2.3-2.2 0.8-1 1.3-1.8 1.7-2.5 0.4-0.7 0.6-1.2 0.6-1.4C82.3 12.8 82.2 12.7 82.1 12.7zM97.9 7l0.4-0.1c0.1 0 0.1 0.1 0.1 0.2 0 0.1-0.2 0.3-0.5 0.5C97.5 7.9 97.1 8 96.7 8s-0.8-0.1-1.1-0.4c-0.3-0.3-0.4-0.6-0.4-1 0-0.9 0.6-1.8 1.8-2.7 1.2-0.9 2.6-1.6 4.4-2.2 1.7-0.5 3.4-0.8 5-0.8 2.3 0 4.1 0.4 5.2 1.1s1.7 1.8 1.7 3c0 1.6-1.1 3.2-3.4 4.7 -1.2 0.8-2.5 1.4-3.9 1.9 1.5 0.2 2.7 0.7 3.6 1.5 0.7 0.6 1 1.4 1 2.3 0 0.9-0.5 1.9-1.4 2.9 -0.9 1-2.1 1.8-3.6 2.4 -1.5 0.6-3 1-4.6 1 -1.8 0-3.1-0.4-4-1.2 -0.4-0.4-0.6-0.7-0.6-1 0-0.3 0.1-0.6 0.2-0.9C96 20 95.5 21 95.2 21.6c-0.1 0.3-0.4 0.4-0.9 0.4 -0.4 0-0.8-0.1-1-0.3 -0.2-0.2-0.4-0.5-0.4-0.8 0-0.3 0-0.5 0.1-0.8 0.4-1.1 2-3.8 4.6-7.9 2.6-4.2 4.2-6.6 4.8-7.2 0.3-0.4 1-0.6 2.1-0.6 0.4 0 0.6 0.1 0.6 0.3 0 0.1-0.6 1.2-1.9 3.2 -1.3 2-1.9 3.1-2 3.2 1.3-0.4 2.7-0.9 4.1-1.6 1.4-0.7 2.6-1.4 3.7-2.3 1-0.8 1.6-1.6 1.6-2.3 0-1.1-1.2-1.7-3.7-1.7 -2.5 0-5 0.7-7.4 2 -0.6 0.3-1 0.6-1.3 0.9 -0.3 0.3-0.5 0.5-0.5 0.6S97.8 7 97.9 7zM100.5 13.9c-0.2 0-0.4-0.2-0.6-0.6C99 14.8 98 16.4 97 18.2c0.5-0.6 1.1-0.9 2-0.9 0.6 0 0.9 0.1 0.9 0.2 0 0.1-0.1 0.1-0.2 0.2 -0.4 0.1-0.6 0.4-0.6 0.6 0 0.7 0.7 1 2.2 1 2 0 3.8-0.7 5.4-2.1 0.9-0.7 1.3-1.4 1.3-1.9 0-0.3-0.4-0.7-1-1.1 -0.8-0.5-2.1-0.7-3.7-0.7 -1.2 0-1.9 0.1-2.2 0.2C100.6 13.8 100.5 13.9 100.5 13.9zM120.7 11c0 0.6-0.3 1.2-0.8 1.7 -0.5 0.5-1.1 0.7-1.7 0.7 -0.2 0-0.4-0.1-0.4-0.2 -0.1-0.1-0.1-0.2-0.1-0.4 0-0.2 0-0.3 0.1-0.5 -0.3 0.1-0.7 0.3-1.1 0.5 -0.4 0.2-0.9 0.6-1.6 1.1 -0.6 0.5-0.9 0.8-0.9 1 0 0.1 0.1 0.1 0.3 0.1 0.2 0 0.6-0.1 1-0.2 0.5-0.2 0.8-0.2 1-0.2 0.2 0 0.3 0 0.4 0 0.1 0.1 0.3 0.2 0.4 0.4 0.1 0.2 0.2 0.4 0.2 0.5 0 0.1-0.1 0.3-0.4 0.5 -0.2 0.2-0.5 0.4-0.8 0.5 -0.3 0.1-0.5 0.2-0.6 0.3 -2 1.1-3 1.9-3 2.3 0 0.7 0.6 1.1 1.9 1.1 0.8 0 1.6-0.3 2.5-0.8 0.7-0.4 1.3-0.9 1.9-1.3 0.6-0.5 0.9-0.7 1.1-0.8 0.1-0.1 0.3-0.2 0.3-0.2 0.2 0 0.4 0.3 0.4 0.8 0 0.6 0 0.9-0.1 1.1 -0.1 0.2-0.3 0.4-0.6 0.7 -2.1 1.7-4 2.5-5.8 2.5 -1 0-1.8-0.1-2.3-0.4 -1.1-0.5-1.6-1.2-1.6-2.2 0-1.3 0.9-2.3 2.7-3 -0.4-0.2-0.6-0.4-0.7-0.6 -0.1-0.3-0.2-0.7-0.2-1.2s0.3-1.2 0.8-1.8c0.5-0.6 1.2-1.1 1.9-1.5 1.7-0.9 3.2-1.4 4.5-1.4 0.3 0 0.6 0.1 1 0.2C120.5 10.5 120.7 10.7 120.7 11zM131.1 10.8c0.7 0 1.1 0.2 1.1 0.7 0 0.3-0.1 0.5-0.2 0.6 -0.1 0.1-0.4 0.5-0.8 1.2 -0.4 0.7-0.9 1.6-1.4 2.7 -0.5 1.1-0.8 2-1 2.8 0 0.1 0 0.2 0 0.4 0 0.5 0.1 0.8 0.4 0.8 0.3 0 0.6-0.1 1-0.4 0.4-0.3 0.7-0.6 1-0.9 0.3-0.3 0.6-0.6 0.9-1 0.3-0.3 0.5-0.5 0.5-0.6s0.1-0.1 0.3-0.1c0.2 0 0.3 0.1 0.3 0.4 0 0.3 0.1 0.6 0.1 0.9 0 0.3 0 0.5-0.1 0.6 -0.3 0.5-0.9 1.2-1.8 2 -0.9 0.8-1.8 1.1-2.6 1.1 -0.8 0-1.3-0.2-1.7-0.7 -0.4-0.5-0.5-1-0.5-1.6 0-0.6 0.1-1.1 0.3-1.5 -0.8 1-1.7 1.9-2.7 2.6 -1 0.7-1.9 1.1-2.5 1.1s-1.2-0.2-1.6-0.6c-0.5-0.5-0.8-1.2-0.8-2 0-0.9 0.2-1.7 0.6-2.6 0.4-0.9 0.9-1.7 1.5-2.4 0.6-0.7 1.3-1.4 2.1-2 1.6-1.2 3.1-1.9 4.4-1.9 0.5 0 0.9 0.1 1.3 0.3 0.3 0.2 0.5 0.4 0.6 0.6 0.2-0.3 0.4-0.6 0.6-0.7C130.5 10.9 130.8 10.8 131.1 10.8zM129.2 12.4c-1.6 0-3.3 0.9-5.1 2.7 -0.6 0.7-1.2 1.4-1.7 2.3 -0.5 0.9-0.8 1.5-0.8 1.9 0 0.3 0.1 0.5 0.3 0.5 0.3 0 1-0.5 2.2-1.6 1.2-1.1 2-1.8 2.4-2.3C127 15.4 127.9 14.2 129.2 12.4zM141.5 18.6c0.5-0.3 0.8-0.5 1-0.7 0.1-0.1 0.3-0.3 0.5-0.4 0.2-0.2 0.3-0.2 0.5-0.2 0.2 0 0.3 0.2 0.3 0.7 0 0.4-0.2 0.9-0.6 1.4 -0.4 0.5-1 0.9-1.6 1.3 -0.6 0.4-1.3 0.7-2 0.9 -1.4 0.5-2.6 0.8-3.6 0.8 -1 0-1.9-0.3-2.7-1s-1.2-1.5-1.2-2.6c0-1.1 0.3-2.1 0.8-3.2 0.5-1.1 1.2-2 2-2.8 0.8-0.8 1.8-1.4 2.9-1.9 1.1-0.5 2.2-0.7 3.3-0.7 0.5 0 1 0.1 1.4 0.4 0.4 0.3 0.6 0.7 0.6 1.2 0 0.5-0.3 1.1-0.8 1.9 -0.5 0.7-1 1.1-1.6 1.1 -0.6 0-0.9-0.3-0.9-0.9 0-0.2 0.1-0.4 0.4-0.8 0.3-0.4 0.4-0.7 0.4-0.8 0-0.1-0.1-0.2-0.2-0.2 -0.5 0-1.1 0.2-1.7 0.5 -0.6 0.4-1.2 0.7-1.6 1.1 -0.5 0.4-1 0.9-1.4 1.4 -1 1.1-1.4 2.2-1.4 3.4 0 0.5 0.2 0.9 0.5 1.2 0.3 0.3 0.8 0.5 1.5 0.5s1.4-0.1 2.1-0.3c0.7-0.2 1.3-0.3 1.8-0.5C140.5 19.1 141 18.9 141.5 18.6zM155.5 17.5c0.1 0.4 0.1 0.8 0.1 1 0 0.3 0 0.5-0.1 0.7 -0.1 0.2-0.3 0.5-0.6 0.8 -0.3 0.3-0.7 0.7-1.1 1 -1.1 0.8-2.1 1.3-3.2 1.3 -1.6 0-2.4-0.7-2.4-2.1 0-1.2 1.1-3.6 3.2-7.3 0.1-0.1 0.1-0.2 0.2-0.3 -0.7 0.5-2.1 1.9-4.2 4.2 -2.1 2.3-3.5 3.9-4.2 4.9 -0.1 0.1-0.2 0.2-0.4 0.3 -0.2 0.1-0.4 0.2-0.5 0.2s-0.3 0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.1 -0.1 0-0.2 0-0.2-0.1 0-0.1 0.2-0.5 0.5-1.3 0.3-0.8 0.8-1.8 1.3-3 1.5-3.3 3.8-7.5 6.8-12.8 1.1-1.8 1.9-3.1 2.5-3.9 0.4-0.5 1.1-0.8 2.1-0.8 0.2 0 0.3 0.1 0.4 0.2 0 0.1 0 0.3 0 0.4 0 0.1 0 0.3-0.1 0.4l-1.5 2.4c-3 4.8-5.3 8.7-6.9 11.8 1.5-1.8 2.9-3.2 4.4-4.2 0.9-0.6 1.5-0.9 2-0.9s0.8 0.1 1.2 0.2c0.4 0.1 0.5 0.5 0.5 1 0 0.2-0.3 0.9-0.9 2.1 -1.9 3.7-2.8 5.7-2.8 6.1s0.2 0.6 0.5 0.6c0.5 0 1.2-0.5 2.3-1.4 0.8-0.7 1.3-1.2 1.5-1.4 0.1-0.1 0.2-0.1 0.3-0.1C155.4 17.2 155.5 17.3 155.5 17.5z")
								g(id="XMLID_56_")
									path.footer__logo-type-bottom(id="XMLID_66_" d="M43.7 39.4h-1.9v-3.9h-3.5v3.9h-1.9v-8.9h1.9V34h3.5v-3.5h1.9V39.4zM54.1 34.9c0 1.5-0.4 2.6-1.1 3.4 -0.7 0.8-1.8 1.2-3.2 1.2s-2.4-0.4-3.2-1.2c-0.7-0.8-1.1-1.9-1.1-3.4 0-1.5 0.4-2.6 1.1-3.4 0.7-0.8 1.8-1.2 3.2-1.2 1.4 0 2.4 0.4 3.2 1.2C53.7 32.3 54.1 33.4 54.1 34.9zM47.5 34.9c0 1 0.2 1.8 0.6 2.3s0.9 0.8 1.7 0.8c1.5 0 2.3-1 2.3-3 0-2-0.8-3-2.3-3 -0.8 0-1.3 0.3-1.7 0.8C47.7 33.2 47.5 33.9 47.5 34.9zM59.4 39.4h-1.9V32H55v-1.6h6.8V32h-2.4V39.4zM68.3 39.4h-5.2v-8.9h5.2V32h-3.3v2h3v1.6h-3v2.3h3.3V39.4zM70.2 39.4v-8.9h1.9v7.4h3.6v1.6H70.2zM88.8 39.4h-2.3l-0.7-0.7c-0.8 0.5-1.7 0.8-2.6 0.8 -1 0-1.8-0.2-2.4-0.7 -0.6-0.5-0.9-1.1-0.9-1.9 0-0.6 0.1-1 0.4-1.4s0.7-0.8 1.3-1.1c-0.3-0.4-0.5-0.7-0.7-1s-0.2-0.7-0.2-1c0-0.6 0.2-1.1 0.7-1.5s1.1-0.6 1.9-0.6c0.8 0 1.4 0.2 1.8 0.5 0.5 0.4 0.7 0.8 0.7 1.4 0 0.5-0.1 0.9-0.4 1.3 -0.3 0.4-0.7 0.8-1.4 1.1l1.7 1.7c0.3-0.5 0.5-1.1 0.8-1.8h1.9c-0.1 0.6-0.3 1.1-0.6 1.6s-0.5 1-0.9 1.4L88.8 39.4zM81.9 36.8c0 0.4 0.1 0.6 0.4 0.8s0.6 0.3 1 0.3c0.5 0 1-0.1 1.4-0.4l-2-2c-0.2 0.2-0.4 0.4-0.6 0.6C81.9 36.3 81.9 36.6 81.9 36.8zM84.1 32.5c0-0.2-0.1-0.4-0.2-0.5 -0.1-0.1-0.3-0.2-0.6-0.2 -0.3 0-0.5 0.1-0.6 0.2 -0.2 0.1-0.2 0.3-0.2 0.6 0 0.4 0.2 0.8 0.6 1.2 0.4-0.2 0.6-0.4 0.8-0.6S84.1 32.7 84.1 32.5zM98.5 36.9c0 0.8-0.3 1.4-0.9 1.9 -0.6 0.5-1.4 0.7-2.4 0.7 -1 0-1.8-0.2-2.5-0.5v-1.8c0.6 0.3 1.1 0.5 1.5 0.6S95 38 95.3 38c0.4 0 0.7-0.1 1-0.2 0.2-0.2 0.3-0.4 0.3-0.7 0-0.2 0-0.3-0.1-0.5 -0.1-0.1-0.2-0.3-0.4-0.4 -0.2-0.1-0.6-0.3-1.2-0.6 -0.5-0.3-1-0.5-1.2-0.7 -0.3-0.2-0.5-0.5-0.7-0.8 -0.2-0.3-0.2-0.7-0.2-1.1 0-0.8 0.3-1.4 0.8-1.9 0.5-0.5 1.3-0.7 2.2-0.7 0.5 0 0.9 0.1 1.3 0.2 0.4 0.1 0.9 0.3 1.3 0.5l-0.6 1.5c-0.5-0.2-0.9-0.3-1.2-0.4 -0.3-0.1-0.6-0.1-0.9-0.1 -0.4 0-0.6 0.1-0.8 0.3 -0.2 0.2-0.3 0.4-0.3 0.7 0 0.2 0 0.3 0.1 0.4s0.2 0.2 0.4 0.4 0.6 0.3 1.2 0.6c0.8 0.4 1.4 0.8 1.7 1.2C98.3 35.8 98.5 36.3 98.5 36.9zM106.3 33.2c0 1-0.3 1.7-0.9 2.2 -0.6 0.5-1.5 0.8-2.6 0.8H102v3.2h-1.9v-8.9h2.9c1.1 0 1.9 0.2 2.5 0.7C106 31.6 106.3 32.3 106.3 33.2zM102 34.7h0.6c0.6 0 1-0.1 1.3-0.3 0.3-0.2 0.4-0.6 0.4-1 0-0.4-0.1-0.8-0.4-1 -0.2-0.2-0.6-0.3-1.1-0.3H102V34.7zM113.4 39.4l-0.6-2.1h-3.3l-0.6 2.1h-2l3.2-9h2.3l3.2 9H113.4zM112.3 35.7c-0.6-1.9-0.9-3-1-3.3 -0.1-0.3-0.1-0.5-0.2-0.6 -0.1 0.5-0.5 1.8-1.2 3.9H112.3z")
						p.footer__copyright
							|&#169;Rosarito Beach Hotel 2017
						ul.footer__social-list
							li.footer__social-item: a.button__line(href="#") facebook
							li.footer__social-item: a.button__line(href="#") instagram
		script(src="./js/scripts.js")